<section class="login-outer background">
        <div class="container" id="container"> 
            <div class="row" id="body">
				<div class="logo-wrap-change">
                    <div class="login-title">
                    	<img src="{{logoImgSrc}}" class="logo-set">
                    </div>
                </div>
                <div class="login-wrap" style="margin-bottom:50px">
                    <div class="account-wall-1 text-center">
                    <h3 class="pass-title">FORGOT YOUR PASSWORD?</h3>
                    <span class="sub-title margin-bottom-10">Enter the email you Signed up with and we will let you reset it.</span>
					<div class="alert alert-success alert-dismissable" ng-show="successMsg != null">
  						<a ng-click="hideSuccessMsg();" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  						<strong>Success!</strong> {{successMsg}}
					</div>
					<div class="alert alert-danger alert-dismissable" ng-show="errorMsg != null">
  						<a class="close" data-dismiss="alert" aria-label="close">&times;</a>
  						<strong>Error!</strong> {{errorMsg}}
					</div>
                        <div class="login-center-1 margin-top-40">                                              
                            <form class="form-signin" name="loginForm">
                            <div class="form-group">
                                <input type="email" name="email" class="form-control" placeholder="Email Address" ng-model="email" required autofocus
                                ng-class="{'has-error' : loginForm.email.$invalid && (!loginForm.email.$pristine || loginForm.$submitted)}">
								<div ng-messages="loginForm.email.$error" ng-show=" (!loginForm.email.$pristine || loginForm.$submitted)" class="help-block">
                                <div ng-message="required" style="color:white;">Email is required</div>
								<div ng-message="email" style="color:white;">Please Enter a valid email</div>
							</div>
                                <button class="btn btn-lg btn-block btn-sign-in theme-color" type="submit" ng-click="forgotPwd();">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>  
            </div>
        </div>
        <div class="loader" ng-if="loading"></div>
</section>