<!----------Login-Section-1-------->


<section class="login-outer background">
    
        <div class="container" id="container">
            
            <div class="row" id="body">

				<div class="logo-wrap-change">
                    <div class="login-title">
                    	<!-- <img src="../assets/img/adminlogo-new.png" class="logo-set"> -->
                    	<img src="{{logoImgSrc}}" class="logo-set">
                    	<!-- <img ng-src="{{logoImgSrc}}"> -->
                    	<!-- <h2 class="theme-fontcolor">Waitlist</h2> -->
                    </div>
                </div>
                
                <div class="login-wrap" style="margin-bottom:50px">


                    <div class="account-wall-1 text-center">
                        
                        <div class="alert alert-danger" role="alert" ng-show="errorMsg != null && errorMsg != ''">
							<button type="button" class="close" ng-click="hideErrorMsg();" >&times;</button>
							<strong>Error ! </strong>{{errorMsg}}
						</div>
                        
                        <div class="login-center-1">                                              
                            <form class="form-signin" name="loginForm" novalidate>
								<div ng-class="{'has-error' : loginForm.uname.$invalid && (!loginForm.uname.$pristine || loginForm.$submitted)}">
                                	<input type="text" name="uname" class="form-control" placeholder="Username" ng-model="username" required autofocus>
                                	<div ng-messages="loginForm.uname.$error" ng-show=" (!loginForm.uname.$pristine || loginForm.$submitted)" class="help-block">
								        <div ng-message="required" class="error">Username/Email cannot be blank</div>
								    </div>
                                </div>
                                <div class="password-area" ng-class="{'has-error' : loginForm.pwd.$invalid && (!loginForm.pwd.$pristine || loginForm.$submitted)}">
                                    <input type="password" name="pwd" class="form-control" ng-model="password"  placeholder="Password" required>
                                    <div ng-messages="loginForm.pwd.$error" ng-show=" (!loginForm.pwd.$pristine || loginForm.$submitted)" class="help-block">
								        <div ng-message="required" class="error">Password cannot be blank</div>
								    </div>
								    <div class="help-block text-right forgot-link"><a class="theme-fontcolor" ng-click="changeView('forgotPwd');">Forget Password?</a></div>
                                </div>

                                <div class="checkbox checkbox-success checkbox-inline">
                                    <input type="checkbox" id="inlineCheckbox1" value="option1">
                                    <label for="inlineCheckbox1">Remember Me</label>
                                </div>                       

                                <button ng-click="login(loginForm.$invalid)" class="btn btn-lg btn-block btn-sign-in theme-color" type="submit">Login</button>

								<button ng-click="changeView('signup');" class="btn btn-lg btn-block btn-sign-in theme-color" type="submit">Sign Up</button>
								
                                <!-- <div class="sign-up text-center"> 
                                   <a href="javascript:void(0);" class="need-help" id="emailshow" style="">Forgot Password?</a>
                                </div>
                                
                                <div id="emailhide">
                                
                                    <div class="password-area">
                                        <input type="password" class="form-control" placeholder="Enter your e-mail address" required>
                                    </div>

                                    <button class="btn btn-lg btn-block btn-sign-in" type="submit">Send</button>
                                    
                                </div> -->

                            </form>
                        </div>
                    </div>

                </div>               
                
            </div>

        </div>
    
        <div class="loader" ng-if="loading"></div>

</section>

<!--  <script type="text/javascript">
    var toggle  = document.getElementById("emailshow");
    var content = document.getElementById("emailhide");

    toggle.addEventListener("click", function(){
      content.style.display = (content.dataset.toggled ^= 1) ? "block" : "none";
    }, false);
        
    </script> -->