<section class="login-outer background">
        <div class="container" id="container"> 
            <div class="row" id="body">
            	<div ng-show="validurl && successMsg==null">
				<div class="logo-wrap-change">
                    <div class="login-title">
                    	<img src="{{logoImgSrc}}" class="logo-set">
                    </div>
                </div>
                <div class="login-wrap" style="margin-bottom:50px">
                    <div class="account-wall-1 text-center">
                    <h3 class="pass-title">RESET PASSWORD?</h3>
                    <div class="alert alert-success alert-dismissable" ng-show="successMsg != null">
  						<a ng-click="hideSuccessMsg();" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  						<strong>Success!</strong> {{successMsg}}
					</div>
					<div class="alert alert-danger alert-dismissable" ng-show="errorMsg != null">
  						<a class="close" data-dismiss="alert" aria-label="close">&times;</a>
  						<strong>Error!</strong> {{errorMsg}}
					</div>
                        <div class="login-center-1">                                              
                            <form class="form-signin" name="resetPwdForm" novalidate>
                                <div class="form-group">
                                	<input type="password" name="pwd" class="form-control" ng-model="newPwd" placeholder="Password" required autofocus 
                                	ng-class="form-control" ng-minlength="6" ng-maxlength="20" ng-pattern="/^(?=.*[a-zA-Z])(?=.*\d).*/"/>
									<div ng-messages="resetPwdForm.pwd.$error" ng-show=" (!resetPwdForm.pwd.$pristine || resetPwdForm.$submitted)" class="help-block">
									        <div ng-message="required" class="error">Password is required</div>
									        <div ng-message="minlength" class="error">Password is too small. Should be min 6 character long</div>
									        <div ng-message="maxlength" class="error">Password is too long. Cannot be longer than 20 characters</div>
									        <div ng-message="pattern" class="error">Password should be combination of letter & number</div>
									 </div>
						   		 </div>	
								<div class="form-group">
									<input type="password" class="form-control" ng-model="newConfPwd" name="cnfPwd" placeholder="Confirm Password" required autofocus
									ng-class="{'has-error' : resetPwdForm.cnfPwd.$invalid && (!resetPwdForm.cnfPwd.$pristine || resetPwdForm.$submitted)}">
									<div ng-messages="resetPwdForm.cnfPwd.$error" ng-show=" (!resetPwdForm.cnfPwd.$pristine || resetPwdForm.$submitted)" class="help-block">
								            <div ng-message="required" class="error">Confirm Password is required</div>
								</div>
								</div>
                                <button class="btn btn-lg btn-block btn-sign-in theme-color" type="submit" ng-click="resetPassword(resetPwdForm.$invalid);">Reset</button>
                            </form>
                        </div>
                    </div>
                </div>
                </div>
                <!-- code for success msg -->
                <div class="white-box-wrapper" ng-show="successMsg != null">
                	<div class="box-wrapper-content">
                		<div class="login-title">
                    		<img src="{{logoImgSrc}}" class="logo-set">
                    	</div>
                    	<h3 class="box-pass-heading">RESET PASSWORD</h3>
                		<p class="box-msg-content">{{successMsg}}</p>
                	</div> 
                </div> 
                
                <!-- code for failure msg -->
                <div class="white-box-wrapper" ng-show="!validurl">
                	<div class="box-wrapper-content">
                		<div class="login-title">
                    		<img src="{{logoImgSrc}}" class="logo-set">
                    	</div>
                    	<h3 class="box-pass-heading">RESET PASSWORD</h3>
                		<p class="box-msg-content">{{message}}</p>
                	</div> 
                </div> 
            </div>
        </div>
        <div class="loader" ng-if="loading"></div>
</section>