<section class="login-outer background">
        <div class="container" id="container"> 
            <div class="row" id="body">
				<div class="logo-wrap-change">
                    <div class="login-title">
                    	<img src="{{logoImgSrc}}" class="logo-set">
                    </div>
                </div>
                <div class="login-wrap" style="margin-bottom:50px">
                    <div class="account-wall-1 text-center">
                    <h3 class="pass-title">RESET PASSWORD?</h3>
                        <div class="login-center-1">                                              
                            <form class="form-signin" name="loginForm">
                                <div class="form-group">
                                	<input type="password" name="pwd" class="form-control" ng-model="newPwd" placeholder="Password" required autofocus 
                                	ng-class="form-control" ng-minlength="6" ng-maxlength="20" ng-pattern="/^(?=.*[a-zA-Z])(?=.*\d).*/"/>
									<div ng-messages="loginForm.pwd.$error" ng-show=" (!loginForm.pwd.$pristine || loginForm.$submitted)" class="help-block">
									        <div ng-message="required" style="color:white;">Password is required</div>
									        <div ng-message="minlength" style="color:white;">Password is too small. Should be min 6 character long</div>
									        <div ng-message="maxlength" style="color:white;">Password is too long. Cannot be longer than 20 characters</div>
									        <div ng-message="pattern" style="color:white;">Password should be combination of letter & number</div>
									 </div>
						   		 </div>	
								<div class="form-group">
									<input type="password" class="form-control" ng-model="newConfPwd" name="cnfPwd" placeholder="Confirm Password" required autofocus
									ng-class="{'has-error' : loginForm.cnfPwd.$invalid && (!loginForm.cnfPwd.$pristine || loginForm.$submitted)}">
									<div ng-messages="loginForm.cnfPwd.$error" ng-show=" (!loginForm.cnfPwd.$pristine || loginForm.$submitted)" class="help-block">
								            <div ng-message="required" style="color:white;">Confirm Password is required</div>
								</div>
                                <button class="btn btn-lg btn-block btn-sign-in theme-color" type="submit">Reset</button>
                            </form>
                        </div>
                    </div>
                </div>  
            </div>
        </div>
</section>