<main id="page-content-wrapper" class="settingPage" role="main">
  <section class="container pt-lg-3 pt-md-3 pt-sm-4 pt-4 fade-in" id="dashboardPage">
    <div class="row">
      <form class="col-lg-12">
        <div class="checkbox my-0 py-2 border-bottom">
          <div class="alert alert-success alert-dismissible" *ngIf="successMsg != null">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <p>{{ successMsg }}</p>
          </div>
          <div class="row">
            <div class="col-lg-3 my-1">
              <span class="font-weight-semibold">Seating Preference</span>
            </div>
            <div class="col-lg-9 my-1">
              <div *ngFor="let seating of seatingPrefList; index as i" class="d-inline-block">
                <input class="styled-checkbox" id="firstAvailable{{ i }}" type="checkbox" [(ngModel)]="seating.selected" [ngModelOptions]="{ standalone: true }" />
                <label for="firstAvailable{{ i }}" class="mr-2">{{ seating.prefValue }}</label>
              </div>
            </div>
          </div>
        </div>
        <div class="checkbox my-0 py-2 border-bottom">
          <div class="row">
            <div class="col-lg-3 my-1">
              <span class="font-weight-semibold">Marketing Preference</span>
            </div>
            <div class="col-lg-9 my-1">
              <div *ngFor="let marketing of marketingPrefList; index as i" class="d-inline-block">
                <input class="styled-checkbox" id="lablekey{{ i }}" type="checkbox" [(ngModel)]="marketing.selected" [ngModelOptions]="{ standalone: true }" />
                <label for="lablekey{{ i }}" class="mr-2">{{ marketing.prefValue }}</label>
              </div>
            </div>
          </div>
        </div>
        <div class="py-2 border-bottom">
          <div class="row">
            <div class="col-lg-3 my-1">
              <span class="font-weight-semibold">Notify First</span>
            </div>
            <div class="col-lg-9 my-1">
              <div class="row">
                <div class="col-lg-3 my-1">
                  <select class="form-control" id="notifyFirst" name="notifyFirst" #notifyFirst="ngModel" [(ngModel)]="user.notifyFirst">
                    <option *ngFor="let i of [].constructor(10); let j = index" value="{{ j + 1 }}">{{ j + 1 }} User</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="py-2 border-bottom">
          <div class="row">
            <div class="col-lg-3 my-1">
              <span class="font-weight-semibold">Adults and Children</span>
            </div>
            <div class="col-lg-9 my-1">
              <div class="row">
                <div class="col-lg-3 my-1">
                  <select class="form-control" id="pplBifurcation" name="pplBifurcation" #notifyFirst="ngModel" [(ngModel)]="user.pplBifurcation">
                    <option value="Y">Yes</option>
                    <option value="N">No</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="py-2 border-bottom">
          <div class="row">
            <div class="col-lg-3 my-1">
              <span class="font-weight-semibold">SMS/App Interface Language</span>
            </div>
            <div class="col-lg-9 my-1">
              <div class="row">
                <div class="col-lg-3 my-1">
                  <div class="multiselect">
                    <div class="selectBox" (click)="showCheckboxes()">
                      <select class="form-control">
                        <option>Additional Language</option>
                      </select>
                      <div class="overSelect"></div>
                    </div>
                    <div id="checkboxes-backdrop" (click)="showCheckboxes()"></div>
                    <div id="checkboxes">
                      <div *ngFor="let item of languageList; let i = index" class="p-2">
                        <input
                          [disabled]="item.langId == user.defaultLangId"
                          class="styled-checkbox"
                          [id]="'checkboxes' + i"
                          type="checkbox"
                          (change)="getSelectedLanguage(item, $event.target.checked)"
                          [(ngModel)]="item.checked"
                          [ngModelOptions]="{ standalone: true }"
                        />
                        <label [for]="'checkboxes' + i" class="mr-2 p-0">{{ item.langName }}</label>
                      </div>
                      <!--   <div *ngFor="let item of user.languagePref; let i = index" class="p-2">
                          <input class="styled-checkbox" [id]="'checkboxes' + i" type="checkbox" />
                          <label [for]="'checkboxes' + i" class="mr-2 p-0">{{ item.langName }}</label>
                        </div>-->
                    </div>
                  </div>
                </div>
                <div class="col-lg-3 my-1">
                  <select class="form-control" id="defaultLangId" name="defaultLangId" #defaultLangId="ngModel" [(ngModel)]="user.defaultLangId">
                    <!-- <option>Default Language</option> -->
                    <option *ngFor="let item of user.languagePref; let i = index" value="{{ item.langId }}">{{ item.langName }}</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="py-2">
          <div class="row">
            <div class="col-lg-3 my-1">
              <span class="font-weight-semibold">SMS Template</span>
            </div>
            <div class="col-lg-9 my-1">
              <div class="col-lg-3 pl-0">
                <select class="form-control" id="selectedSMSTemplate" (change)="changeSelectedTemplate()" name="selectedSMSTemplate" #selectedSMSTemplate="ngModel" [(ngModel)]="selectedSMSTemplateLangId">
                  <option *ngFor="let item of user.languagePref; let i = index" value="{{ item.langId }}">{{ item.langName }}</option>
                </select>
              </div>
              <div *ngFor="let template of selectedSMSTemplateText; let i = index" class="form-group">
                <textarea appAutosize [minRows]="1" [maxRows]="10" required="required" [(ngModel)]="template.templateText" (change)="dosomething($event.target.value, template.level)" [ngModelOptions]="{ standalone: true }">{{
                  template.templateText
                }}</textarea>
                <label for="textarea" class="control-label">{{ template.levelName }}</label
                ><i class="bar"></i>
              </div>
              <!-- <div class="form-group">
                <textarea appAutosize [minRows]="1" [maxRows]="10" required="required">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</textarea>
                <label for="textarea" class="control-label">Level 2</label><i class="bar"></i>
              </div>
              <div class="form-group mb-3">
                <textarea appAutosize [minRows]="1" [maxRows]="10" required="required">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</textarea>
                <label for="textarea" class="control-label">Level 3</label><i class="bar"></i>
              </div> -->
            </div>
          </div>
        </div>
        <div class="col-lg-12 text-center pb-3 pt-2">
          <button type="button" class="btn btn-theme background-color shadow" (click)="saveOrgSetting()"><span>Save</span></button>
        </div>
      </form>
    </div>
    <!-- reset popup -->
    <div class="modal fade" id="resetModal">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content border-radius border-0">
          <div class="custom-modal-header background-color">
            <span class="modal-title text-white">Confirm Reset Organization</span>
            <button type="button" class="close text-white" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body text-center">
            <h3 class="big-font"><i class="fi flaticon-refresh font-40 font-color"></i></h3>
            <h4 class="pt-3 pb-3">If you want to remove all your guest information, you can reset.</h4>
            <div class="pt-3 pb-4">
              <button type="button" class="btn btn-theme background-color shadow">Reset</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
