
<section class="waitlist-wrap">    
        
   	<a href="javascript:void(0)" class="headersh"><i class="fa fa-bars" aria-hidden="true"></i></a>
    
    <div class="container">
       <div class="theme-color">

            <h1 class="text-center addnew-color" ng-show="!editMode"><a style="cursor:pointer" ng-click="changeView('home')"><img src="../assets/img/back.png" class="pull-left"></a>Add New Guest</h1>
            <h1 class="text-center addnew-color" ng-show="editMode"><a style="cursor:pointer" ng-click="changeView('home')"><img src="../assets/img/back.png" class="pull-left"></a>Update Guest</h1>

        </div>
    </div>
    
    <div class="container"> 
        <div class="new_guest_wrap">
        
        
        
             
            
        <div id="demo-one-field" class="section">
          
            <div id="atLeastOneExampleDemo">
              <form name="addGuestForm" class="well-guest">
              
              	<div class="alert alert-danger" role="alert" ng-show="errorMsg != null && errorMsg != ''">
					<button type="button" class="close" ng-click="hideErrorMsg();" >&times;</button>
					<strong>Error ! </strong>{{errorMsg}}
				</div>
				
                <div class="form-group" ng-class="{'has-error' : addGuestForm.name.$invalid && (!addGuestForm.name.$pristine || addGuestForm.$submitted)}">
                  <label class="control-label"></label>
                  <input type="text" name="name" class="form-control" ng-model="guestDTO.name" required placeholder="Name" />
                  <div ng-messages="addGuestForm.name.$error" ng-show=" (!addGuestForm.name.$pristine || addGuestForm.$submitted)" class="help-block">
				        <div ng-message="required">Name cannot be blank</div>
				  </div>
                </div>
                  
               <div class="form-group" ng-class="{'has-error' : addGuestForm.partyOf.$invalid && (!addGuestForm.partyOf.$pristine || addGuestForm.$submitted)}">
                    <select name="partyOf" class="form-control" ng-model="guestDTO.noOfPeople" required>
                        <option value="" ng-selected="null == guestDTO.noOfPeople">Party of:</option>
                        <option value="1" ng-selected="1 == guestDTO.noOfPeople">Party 1</option>
                        <option value="2" ng-selected="2 == guestDTO.noOfPeople">Party 2</option>
                        <option value="3" ng-selected="3 == guestDTO.noOfPeople">Party 3</option>
                        <option value="4" ng-selected="4 == guestDTO.noOfPeople">Party 4</option>
                        <option value="5" ng-selected="5 == guestDTO.noOfPeople">Party 5</option>
                        <option value="6" ng-selected="6 == guestDTO.noOfPeople">Party 6</option>
                        <option value="7" ng-selected="7 == guestDTO.noOfPeople">Party 7</option>
                        <option value="8" ng-selected="8 == guestDTO.noOfPeople">Party 9</option>
                        <option value="9" ng-selected="9 == guestDTO.noOfPeople">Party 9</option>
                        <option value="10" ng-selected="10 == guestDTO.noOfPeople">Party 10</option>
                    </select>
                    <div ng-messages="addGuestForm.partyOf.$error" ng-show=" (!addGuestForm.partyOf.$pristine || addGuestForm.$submitted)" class="help-block">
				        <div ng-message="required">Party of cannot be blank</div>
				  </div>
                </div>
                  
                
                  
                 <div class="form-group panel-form addf3"> 
                        <div class="radio radio-danger">
                            <input type="radio" name="radio1" onchange="showsms();" id="smsshow" ng-model="guestDTO.prefType" value="sms" >
                            <label for="smsshow">SMS</label>
                        </div>
                        <div class="radio radio-danger">
                            <input type="radio" name="radio1" onchange="showemail();" id="emailshow" ng-model="guestDTO.prefType" value="email" >
                            <label for="emailshow">E-Mail</label>
                        </div>
                         <div class="addf3input">
                             <div id="smshide">
                                <input type="number" name="field2" ng-model="guestDTO.sms"  placeholder="(___) ___-____ *" class="form-control" />
                            </div>
                             <div id="emailhide">
                                <input type="text" name="field2" ng-model="guestDTO.email"  placeholder="emailid@gmail.com" class="form-control" />
                            </div>
                        </div>
                  </div>
                  
                <div class="form-group panel-form">
                    <div class="addf1">
                        <label>Seating Preference:</label>
                    </div>
                    <div class="addf2">
                    <div class="checkbox checkbox-success checkbox-inline" ng-repeat="sPerf in guestPref">
                        <input type="checkbox"  ng-model="sPerf.selected" >
                        <label>{{sPerf.prefValue}}</label>
                    </div>
                    </div>
                </div>
                  
                <div class="addf4 panel-form-1">
                      <a href="javascript:void(0);" id="noteshow">Note -</a>
                      <div class="checkbox checkbox-success checkbox-inline">
                        <input type="checkbox" id="inlineCheckbox13" ng-model='guestDTO.optin'>
                        <label for="inlineCheckbox13">Opt-in</label>
                    </div>
                </div>
                  
                <div class="form-group" id="notehide">                  
                  <textarea class="form-control" rows="5" id="comment" placeholder="Note:"></textarea>
                </div>

                <div class="form-group text-center">
                  <input type="submit" class="btn btn-add theme-color" ng-show="!editMode" value="Add" ng-click="addGuest(addGuestForm.$invalid);"/>
                   <input type="submit" class="btn btn-add theme-color" ng-show="editMode" value="Update" ng-click="updateGuest(addGuestForm.$invalid);"/>
                </div>
              </form>
            </div>
  
  
        
      </div><!-- #atLeastOneExample -->


        </div>
        
</div>


</section>
    
    
<!----------End Waitlist-Section-------->    

<!-- Custom Scritp Area -->
<script type="text/javascript">

    
var toggle  = document.getElementById("noteshow");
var content = document.getElementById("notehide");

toggle.addEventListener("click", function(){
  content.style.display = (content.dataset.toggled ^= 1) ? "block" : "none";
}, false);

</script>   
    
<script type="text/javascript">

function showsms(){
    $('#smshide').show();
    $('#emailhide').hide();
}
    
function showemail(){
    $('#emailhide').show();
    $('#smshide').hide();
    
}       

</script>   
    
    
 
    

    
    
    

