<div id="sidebar-wrapper" class="collapse navbar-collapse sidehide">
  <button class="navbar-toggler float-right asidebar sidehide" type="button" data-toggle="collapse" data-target="#sidebar-wrapper" aria-controls="sidebar-wrapper" aria-expanded="false" aria-label="Toggle navigation">
    <span class="flaticon-close"></span>
  </button>
  <aside id="sidebar">
    <ul id="sidemenu" class="sidebar-nav sidehide text-center pt-2">
      <li class="border-bottom" [routerLinkActive]="'active'">
        <a href="" [routerLink]="['/account/profile']">
          <div class="icon-border-right">
            <div class="icon-circle">
              <i class="fi flaticon-work-team grey"></i>
            </div>
          </div>
          <span class="font-12">Organization Profile</span>
        </a>
      </li>
      <!--  <li class="border-bottom" [routerLinkActive]="'active'">
        <a href="" [routerLink]="['/account/planandpayments']">
          <div class="icon-border-right">
            <div class="icon-circle">
              <i class="fi flaticon-to-do-list grey"></i>

            </div>
          </div>
          <span class="font-12">Plans & Payment</span>
        </a>
      </li>-->
      <li class="border-bottom" [routerLinkActive]="'active'">
        <a href="" [routerLink]="['/account/invoice']">
          <div class="icon-border-right">
            <div class="icon-circle">
              <i class="fi flaticon-receipt grey"></i>
            </div>
          </div>
          <span class="font-12">Invoice</span>
        </a>
      </li>

      <li class="border-bottom" [routerLinkActive]="'active'">
        <a class="dropdown-item sidehide" data-toggle="modal" data-target="#resetModal" style="cursor: pointer;">
          <div class="icon-border-right">
            <div class="icon-circle">
              <img class="ml-2 mt-2" height="30" src="../../../assets/images/remove.png" />
              <!-- <i class="fi flaticon-rubbish-bin grey"></i> -->
            </div>
          </div>
          <span class="font-12">Remove Store</span>
        </a>
      </li>

      <li class="border-bottom sm-d-none" style="visibility: hidden;">
        <a href="" data-toggle="modal" data-target="#resetModal">
          <div class="icon-border-right">
            <div class="icon-circle">
              <i class="flaticon-reload grey"></i>
            </div>
          </div>
          <span class="font-12 font-weight-semibold">Don't Show</span>
        </a>
      </li>
    </ul>
  </aside>
</div>
<!-- reset popup -->
<div class="modal fade" id="resetModal">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content border-radius border-0">
      <div class="custom-modal-header background-color">
        <span class="modal-title text-white">Remove Store</span>
        <button type="button" class="close text-white p-1 btn-scale-up" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body text-center">
        <img height="125" src="../../../assets/images/remove.png" />
        <h4 class="pt-3 pb-3">Are you sure you want to remove Store?</h4>
        <div class="pt-3 pb-4">
          <button type="button" class="btn btn-theme background-color shadow">Remove</button>
        </div>
      </div>
    </div>
  </div>
</div>
