<div id="sidebar-wrapper" class="collapse navbar-collapse sidehide">
  <button class="navbar-toggler float-right asidebar sidehide" type="button" data-toggle="collapse" data-target="#sidebar-wrapper" aria-controls="sidebar-wrapper" aria-expanded="false" aria-label="Toggle navigation">
    <span class="flaticon-close"></span>
  </button>
  <aside id="sidebar">
    <ul id="sidemenu" class="sidebar-nav sidehide text-center pt-2">
      <li class="border-bottom active">
        <a href="profile.html">
          <div class="icon-border-right">
            <div class="icon-circle">
              <i class="flaticon-workers"></i>
            </div>
          </div>
          <span class="font-12">Organization Profile</span>
        </a>
      </li>
      <li class="border-bottom">
        <a href="plan-detail.html">
          <div class="icon-border-right">
            <div class="icon-circle">
              <i class="flaticon-receipt grey"></i>
            </div>
          </div>
          <span class="font-12">Plans & Payment</span>
        </a>
      </li>
      <li class="border-bottom sm-d-none" style="visibility: hidden;">
        <a href="" data-toggle="modal" data-target="#resetModal">
          <div class="icon-border-right">
            <div class="icon-circle">
              <i class="flaticon-reload grey"></i>
            </div>
          </div>
          <span class="font-12 font-weight-semibold">Don't Show</span>
        </a>
      </li>
    </ul>
  </aside>
</div>
