	<section class="pb-5 fix-wrapper fade-in">
		<div class="custom-container">
			<div class="col-12">
				<a class="position-absolute" routerLink="/public/signup-plan-and-pricing"><span class="flaticon-back"></span></a>
				<h2 class="text-center font-weight-semibold">Welcome!</h2>
				<p class="text-center pb-3">Let's get started</p>
			</div>
			<div class="normal-box-container mb-3">
				<form #signupForm="ngForm" novalidate>
					<span class="error" *ngIf="errorMsg!=null">{{errorMsg}}</span>
					<div class="row p-3">
						<div class="col-lg-6">
							<div class="form-group mt-0">
								<input type="text" name="fname" #fname="ngModel" [(ngModel)]="firstName"  required="required">
								<label for="input" class="control-label">First Name</label><i class="bar"></i>
							</div>
						</div>
						<div class="col-lg-6">
							<div class="form-group mt-0">
								<input type="text" name="lname" #lname="ngModel" [(ngModel)]="lastname"  required="required">
								<label for="input" class="control-label">Last Name</label><i class="bar"></i>
							</div>
						</div>
						<div class="col-lg-6">
							<div class="form-group mt-0">
								<input type="text" name="uname" required="required"/>
								<label for="input" class="control-label">User Name</label><i class="bar"></i>
							</div>
						</div>
						<div class="col-lg-6">
							<div class="form-group mt-0">
								<input type="email" required="required"/>
								<label for="input" class="control-label">Email</label><i class="bar"></i>
							</div>
						</div>
						<div class="col-lg-6">
							<div class="form-group mt-0">
								<input type="text" required="required"/>
								<label for="input" class="control-label">Store Name</label><i class="bar"></i>
							</div>
						</div>
						<div class="col-lg-6">
							<div class="form-group mt-0">
								<input type="text" id="phone" (input)="phonePattern($event);" required="required" />
								<label for="input" class="control-label">Mobile No</label><i class="bar"></i>
							</div>
						</div>
						<div class="col-lg-12">
							<div class="form-group mt-0">
								<input type="text" required="required"/>
								<label for="input" class="control-label">Address</label><i class="bar"></i>
							</div>
						</div>
						<div class="col-lg-6">
							<div class="form-group mt-0">
								<input type="password" id="pwd" required="required"/>
								<label for="input" class="control-label">Password</label><i class="bar"></i>
								<button type="button" toggle="#pwd" class="font-color flaticon-eye-1 eye-icon toggle-password font-weight-semibold" ></button>
							</div>
						</div>
						<div class="col-lg-6">
							<div class="form-group mt-0">
								<input type="password" id="repwd" required="required"/>
								<label for="input" class="control-label">Re-type Password</label><i class="bar"></i>
								<button type="button" toggle="#repwd" class="font-color flaticon-eye-1 eye-icon toggle-password font-weight-semibold"></button>
							</div>
						</div>
						<div class="col-lg-12">
							<div class="checkbox mt-0">
								<label>
									<input type="checkbox"/><i class="helper"></i>I Agree to the <span class="font-weight-semibold">Terms and Conditions.</span>
								</label>
							</div>
						</div>
						<div class="col-lg-12">
							<div class="form-group mt-0">
								<div class="g-recaptcha" data-theme="light" data-sitekey="XXXXXXXXXXXXX" class="captcha-size"></div>
                        		<input class="form-control d-none" data-recaptcha="true" required data-error="Please complete the Captcha">
                        		<div class="help-block with-errors"></div>
							</div>
						</div>
						<div class="col-lg-12 text-center">
							<button type="button" class="btn btn-theme background-color shadow" routerLink="/public/signup-verification"><span>Sign Up</span></button>
						</div>
					</div>
				</form>
				<div class="text-center">
					<p>Already have an account? <a routerLink="/public/login" class="font-color font-weight-semibold">Sign In</a></p>
				</div>
			</div>
		</div>
	</section>
