@import "../../../../assets/sass/variable";

.eye-icon{
	position:absolute;
	right:5px;
	top:10px;
}
.captcha-size{
	transform:scale(0.77);-webkit-transform:scale(0.77);transform-origin:0 0;-webkit-transform-origin:0 0;
}