<form name="form" #f="ngForm" class="row mt-3" (ngSubmit)="(f.form.valid)" novalidate>
  <div class="col-12">
    <h4 class="text-center mb-3">Create Business Login</h4>
  </div>
  <div class="row col-12 col-sm-8 col-md-6 m-auto container-box px-4 py-3">
    <div class="col-12">
      <div class="form-group my-3">
        <input type="text" id="firstName" name="firstName" #firstName="ngModel"
          [ngClass]="{ 'is-invalid': f.submitted && firstName.invalid }" class="form-control"
          [(ngModel)]="createBusiness.firstName" required="required" />
        <label for="input" class="control-label">First Name*</label><i class="bar"></i>
        <div *ngIf="f.submitted && firstName.invalid" class="invalid-feedback">
          <div class="text-danger" *ngIf="firstName.errors?.required">Business Name is required</div>
        </div>
      </div>
    </div>
    <div class="col-12">
      <div class="form-group my-3">
        <input type="text" id="lastName" name="lastName" #lastName="ngModel"
          [ngClass]="{ 'is-invalid': f.submitted && lastName.invalid }" class="form-control"
          [(ngModel)]="createBusiness.lastName" />
        <label for="input" class="control-label">Last Name</label><i class="bar"></i>
        <div *ngIf="f.submitted && lastName.invalid" class="invalid-feedback">
          <!-- <div class="text-danger" *ngIf="lastName.errors?.required">Business Name is required</div> -->
        </div>
      </div>
    </div>
    <div class="col-12">
      <div class="form-group my-3">
        <input type="text" id="userName" name="userName" #userName="ngModel"
          [ngClass]="{ 'is-invalid': f.submitted && userName.invalid }" class="form-control"
          [(ngModel)]="createBusiness.userName" required="required" />
        <label for="input" class="control-label">Username*</label><i class="bar"></i>
        <div *ngIf="f.submitted && userName.invalid" class="invalid-feedback">
          <div class="text-danger" *ngIf="userName.errors?.required">Business Name is required</div>
        </div>
      </div>
    </div>
    <div class="col-12">
      <div class="form-group my-3">
        <input type="text" id="email" name="email" #email="ngModel" class="form-control"
          [ngClass]="{ 'is-invalid': f.submitted && email.invalid }" [(ngModel)]="createBusiness.email"
          required="required" />
        <label for="input" class="control-label">Email*</label><i class="bar"></i>
        <div *ngIf="f.submitted && email.invalid" class="invalid-feedback">
          <div class="text-danger" *ngIf="email.errors?.required">Email is required</div>
        </div>
      </div>
    </div>
    <div class="col-12">
      <div class="form-group my-3">
        <input type="password" id="password" name="password" #password="ngModel" class="form-control"
          [ngClass]="{ 'is-invalid': f.submitted && password.invalid }" [(ngModel)]="createBusiness.password"
          required="required" />
        <label for="input" class="control-label">Password*</label><i class="bar"></i>
        <span toggle="#password" (click)="toggleEye($event)"
          class="grey flaticon-padlock eye-icon toggle-password font-weight-semibold"></span>
        <div *ngIf="f.submitted && password.invalid" class="invalid-feedback">
          <div class="text-danger" *ngIf="password.errors.required">Password is required</div>
        </div>
      </div>
    </div>
    <div class="col-12">
      <div class="form-group my-3">
        <input type="password" id="confPassword" name="confPassword" #confPassword="ngModel" class="form-control"
          [ngClass]="{ 'is-invalid': f.submitted && confPassword.invalid }" [(ngModel)]="createBusiness.confPassword"
          required="required" />
        <label for="input" class="control-label">Confirm Password*</label><i class="bar"></i>
        <span toggle="#confPassword" (click)="toggleEye($event)"
          class="grey flaticon-padlock eye-icon toggle-confPassword font-weight-semibold"></span>
        <div *ngIf="f.submitted && confPassword.invalid" class="invalid-feedback">
          <div class="text-danger" *ngIf="confPassword.errors.required">confPassword is required</div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 text-center mt-4">
    <button type="submit" class="btn btn-theme background-color shadow w-auto">Create My Account</button>
  </div>
</form>