<form name="form" #f="ngForm" class="row mx-0 mt-3" (ngSubmit)="(f.form.invalid)" novalidate>
  <div class="col-12 col-sm-11 row mx-auto">
    <div class="col-12">
      <h4 class="text-center mb-3">Select Plan</h4>
    </div>
    <div class="col-12 text-center mt-2">
      <button type="submit" class="btn btn-theme background-grey w-auto" (click)="freePlan()">Use free for 7 days</button>
      <br />
      <div class="btn-group mt-3" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-custom" [ngClass]="{ selected: selectedPlanTerm == planTerm.termName }" (click)="selectedPlanTerm = planTerm.termName; selectedPlanTermDetails()" *ngFor="let planTerm of planTermList">
          {{ planTerm.termName }}
        </button>
      </div>
    </div>
    <div class="col-12 row m-0 p-0 align-items-lg-start mt-4">
      <div class="col-12 col-md-6 col-lg-3 order-md-1 order-lg-0 p-0 pr-md-2">
        <div class="container-box restaurant">
          <h6 class="restaurant_title">Restaurant Address</h6>
          <p class="restaurant_address">
            <span class="font-weight-bold">{{ authb2bService.organization.organizationName }}</span>
            <span> {{ authb2bService.organization.addressDTO.addressLineOne }}, </span>
            <span>{{ authb2bService.organization.addressDTO.state }} , {{ authb2bService.organization.addressDTO.country }}.</span>
          </p>
        </div>
      </div>
      <div class="col-12 col-md-12 col-lg-6 order-md-0 order-lg-1 p-0 px-lg-5">
        <div class="container-box plan">
          <div class="row mx-0">
            <div class="col-4"></div>
            <div class="col-4" *ngFor="let plan of planList">
              <h5 class="plan_title">{{ plan.planName }}</h5>
            </div>
          </div>
          <div class="row plan_detail" *ngFor="let planFeature of planFeatureList; let i = index">
            <div class="col-4 text-center">
              <h6 class="plan_title p-0">{{ planFeature.featureName }}</h6>
              <label class="font-12 m-0">{{ planFeature.featureDesc | slice: 0:limit[i] }}</label>
              <button type="button" class="btn btn-underline not-finding p-0" (click)="toggle(planFeature.featureDesc, planFeature.featureName, i)">{{ text[i] }}</button>
            </div>
            <div class="col-8 row p-0 m-0">
              <div class="col-6 px-0 plan_price" *ngFor="let item of planFeature.featureChargeDetails">
                <div class="plan_price_value">
                  <h6><sup>$</sup>{{ item.featureCharge }}</h6>
                  <p>
                    per
                    <span>{{ selectedPlanTerm == 'Monthly' ? 'Month' : 'Annum' }}</span>
                  </p>
                  <div class="plan_select">
                    <input
                      type="radio"
                      name="{{ planFeature.featureName }}"
                      [id]="planFeature.featureName + item.planFeatureChargeId"
                      [(ngModel)]="planSummary[planFeature.featureName.toLowerCase().replace(' ', '')]"
                      [checked]="item.checked"
                      [value]="item.planFeatureChargeId"
                      (click)="selectPlan(item, planFeature.featureName)"
                    />
                    <label [for]="planFeature.featureName + item.planFeatureChargeId"></label>
                  </div>
                </div>
                <!--   <div class="col-12 text-center mt-2">
                  <p>Security TV/OS Display Self Check-ins Guest Real-time Status</p>
                </div>-->
              </div>
            </div>
            <!--  <div class="col-12 text-center">
              <button type="button" class="btn btn-underline w-100 not-finding p-0"><i class="fi font-gray font-14 flaticon-up-arrow"></i></button>
            </div>-->
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-3 order-md-3 order-lg-2 p-0 pl-md-2" *ngIf="displayPlanSummary">
        <div class="container-box plan_summary">
          <h6 class="plan_summary_title">Plan Summary</h6>
          <div class="plan_summary_detail">
            <div *ngFor="let termList of planTermList">
              <div class="row m-0 pb-3" *ngFor="let planFeature of termList.featureList">
                <div class="col" *ngFor="let item of planFeature.featureChargeDetails" [hidden]="item.planFeatureChargeId !== planSummary[planFeature.featureName.toLowerCase().replace(' ', '')]">
                  <p class="font-16">{{ planFeature.featureName }}</p>
                  <span class="font-color font-12">{{ item.planName }} Plan</span>
                </div>
                <div class="col-auto" *ngFor="let item of planFeature.featureChargeDetails" [hidden]="item.planFeatureChargeId !== planSummary[planFeature.featureName.toLowerCase().replace(' ', '')]">
                  <p class="font-weight-bold text-right font-16">{{ item.featureCharge | currency }}</p>
                  <p class="font-12">{{ termList.termName == 'Monthly' ? 'Month' : 'Annum' }}</p>
                </div>
              </div>
            </div>
            <div class="row m-0 pt-3">
              <div class="col">
                <p class="font-16">Subtotal</p>
              </div>
              <div class="col-auto">
                <p class="font-weight-bold text-right font-16">{{ subTotal | currency }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 text-center mt-3">
      <button type="submit" class="btn btn-theme background-color shadow w-auto" (click)="savePlanDetails(f.form.invalid)">Continue</button>
    </div>
  </div>
</form>

<!-- thankYouModal modal -->
<div class="modal fade" id="thankYouModal">
  <div class="modal-dialog modal-dialog-centered modal-sm">
    <div class="modal-content border-radius border-0">
      <div class="modal-body">
        <div class="row pt-3">
          <div class="col-12 text-center mb-3"><img src="/assets/images/theme-admin/tick.svg" class="tick-img" alt="Tik Mark" /></div>
          <h3 class="col-10 text-center mx-auto font-color mb-2">Thankyou</h3>
          <h5 class="col-10 text-center mx-auto mb-3">Thanks for Registering on kyobee Lorem ipsum dolor sit amet.</h5>
          <div class="col-8 mx-auto">
            <div class="col-12 text-center modal-btn my-4">
              <button type="submit" class="btn btn-theme background-color shadow" (click)="hidePopUp()" [routerLink]="['/auth/login']">Continue</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- .thankYouModal Ends-->
