<section class="pb-5 fix-wrapper center-items fade-in" id="login">
    <section class="custom-container pt-3">
        <div class="row">
            <div class="col-12">
                <h2 class="text-center font-weight-semibold">Welcome !</h2>
                <p class="text-center pb-3">Sign in by entering the information below.</p>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12">
                <img src="assets/images/sign-in-illu.png" class="img-fluid m-md-auto d-md-block" alt="image">
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 py-3 pb-md-0 d-flex justyfy-content-center align-item-center">
                <div class="container-box float-lg-right float-md-none m-md-auto">
                    <form>
                        <div class="form-group mt-0">
                            <input type="text" id="userName" name="userName" #uname="ngModel" [(ngModel)]="user.userName" required="required"/>
                            <label for="input" class="control-label" >Email/Username</label><i class="bar"></i>
                        </div>
                        <div class="form-group mb-0">
                            <input type="password" id="password" name="password" #pwd="ngModel" [(ngModel)]="user.password" required="required"/>
                            <label for="input" class="control-label">Password</label><i class="bar"></i>
                            <span toggle="#password" class="grey flaticon-padlock eye-icon toggle-password font-weight-semibold"></span>
                        </div>
                        <div class="py-2 text-right">
                            <a href="recovery_password.html" class="font-color forgot-pass-link font-weight-semibold">Forgot Password?</a>
                        </div>
                        <div class="pb-3">
                            <input class="styled-checkbox" id="rememberMe" type="checkbox">
                            <label for="rememberMe">Remember Me</label>
                        </div>
                    </form>
                    <div class="col-ld-12 text-center pb-3">
                        <button type="submit" class="btn btn-theme background-color shadow w-50" (click)="validateLogin(false);"><span>Sign In</span></button>
                    </div>
                    <p class="text-center pt-2">You don’t have an account? <a class="font-color font-weight-semibold" href="signup.html">Sign Up</a></p>
                </div>
            </div>
        </div>
    </section>
</section>
