<section class="pb-5 fix-wrapper center-items fade-in signinPage" id="login">
  <section class="custom-container pt-3">
    <div class="row">
      <div class="col-12">
        <h2 class="text-center font-weight-semibold">Welcome !</h2>
        <p class="text-center pb-3">Sign in by entering the information below.</p>
      </div>
      <div class="col-lg-6 col-md-12 col-sm-12">
        <img src="assets/images/sign-in-illu.png" class="img-fluid m-md-auto d-md-block" alt="image" />
      </div>
      <div class="col-lg-6 col-md-12 col-sm-12 py-3 pb-md-0 d-flex justyfy-content-center align-item-center">
        <div class="container-box float-lg-right float-md-none m-md-auto">
          <div class="alert mb-3" [ngClass]="'alert-' + alertError.type" *ngIf="alertError.display != false">
            <button type="button" class="close" data-dismiss="alert" (click)="alertError.display = false">&times;</button>
            <p>{{ alertError.msg }}</p>
          </div>
          <!-- <div class=" mb-5 text-danger" *ngIf="errorMsg != null && errorMsg != ''">{{ errorMsg }}</div> -->
          <form name="form" #f="ngForm" (ngSubmit)="(f.form.valid)" novalidate>
            <div class="form-group mt-0">
              <input type="text" id="userName" name="userName" #uname="ngModel" [ngClass]="{ 'is-invalid': f.submitted && uname.invalid }" class="form-control" [(ngModel)]="user.userName" required="required" />

              <label for="input" class="control-label">Email/Username</label><i class="bar"></i>
              <div *ngIf="f.submitted && uname.invalid" class="invalid-feedback">
                <div class="text-danger" *ngIf="uname.errors?.required">Email/Username is required</div>
              </div>
            </div>

            <div class="form-group mb-0">
              <input type="password" id="password" name="password" #pwd="ngModel" [ngClass]="{ 'is-invalid': f.submitted && pwd.invalid }" class="form-control" [(ngModel)]="user.password" required="required" />

              <label for="input" class="control-label">Password</label><i class="bar"></i>
              <span toggle="#password" (click)="toggleEye($event)" class="grey fi flaticon-padlock font-14 eye-icon toggle-password font-weight-semibold"></span>
              <div *ngIf="f.submitted && pwd.invalid" class="invalid-feedback">
                <div class="text-danger" *ngIf="pwd.errors.required">Password is required</div>
              </div>
            </div>

            <div class="py-2 text-right">
              <a href="" [routerLink]="['/auth/forgot-password']" class="font-color forgot-pass-link font-weight-semibold">Forgot Password?</a>
            </div>

            <div class="pb-3">
              <input class="styled-checkbox" id="rememberMe" type="checkbox" #remMe="ngModel" [(ngModel)]="user.rem" [ngModelOptions]="{ standalone: true }" />
              <label for="rememberMe">Remember Me</label>
            </div>
            <div class="col-ld-12 text-center pb-3">
              <button type="submit" class="btn btn-theme background-color shadow w-50" (click)="validateLogin(f.form.invalid)"><span>Sign In</span></button>
            </div>
          </form>
          <p class="text-center pt-2">You don’t have an account? <a [routerLink]="['/auth-b2b/signup-b2b']" class="font-color font-weight-semibold">Sign Up</a></p>
        </div>
      </div>
    </div>
  </section>
</section>
