/*
    Flaticon icon font: Flaticon
    Creation date: 21/05/2020 13:29
    */

.fi:before {
  display: inline-block;
  font-family: 'Flaticon';
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-size: inherit;
}

.flaticon-dining:before {
  content: '\f100';
}
.flaticon-power:before {
  content: '\f101';
}
.flaticon-to-do-list:before {
  content: '\f102';
}
.flaticon-add-group:before {
  content: '\f103';
}
.flaticon-counterclockwise:before {
  content: '\f104';
}
.flaticon-rubbish-bin:before {
  content: '\f105';
}
.flaticon-refresh:before {
  content: '\f106';
}
.flaticon-funnel:before {
  content: '\f107';
}
.flaticon-credit-card:before {
  content: '\f108';
}
.flaticon-settings:before {
  content: '\f109';
}
.flaticon-empire-state-building:before {
  content: '\f10a';
}
.flaticon-user:before {
  content: '\f10b';
}
.flaticon-black-male-user-symbol:before {
  content: '\f10c';
}
.flaticon-unlocked:before {
  content: '\f10d';
}
.flaticon-padlock:before {
  content: '\f10e';
}
.flaticon-chat:before {
  content: '\f10f';
}
.flaticon-info-button:before {
  content: '\f110';
}
.flaticon-file:before {
  content: '\f111';
}
.flaticon-receipt:before {
  content: '\f112';
}
.flaticon-writing:before {
  content: '\f113';
}
.flaticon-dashboard:before {
  content: '\f114';
}
.flaticon-send-mail:before {
  content: '\f115';
}
.flaticon-email-marketing:before {
  content: '\f116';
}
.flaticon-shopping-list:before {
  content: '\f117';
}
.flaticon-work-team:before {
  content: '\f118';
}
.flaticon-interface:before {
  content: '\f119';
}
.flaticon-information:before {
  content: '\f11a';
}
.flaticon-search:before {
  content: '\f11b';
}
.flaticon-test:before {
  content: '\f11c';
}
.flaticon-credit-card-1:before {
  content: '\f11d';
}
.flaticon-writing-1:before {
  content: '\f11e';
}
.flaticon-message:before {
  content: '\f11f';
}
.flaticon-right-arrow:before {
  content: '\f120';
}
.flaticon-left-arrow:before {
  content: '\f121';
}
.flaticon-down-arrow:before {
  content: '\f122';
}
.flaticon-up-arrow:before {
  content: '\f123';
}

$font-Flaticon-dining: '\f100';
$font-Flaticon-power: '\f101';
$font-Flaticon-to-do-list: '\f102';
$font-Flaticon-add-group: '\f103';
$font-Flaticon-counterclockwise: '\f104';
$font-Flaticon-rubbish-bin: '\f105';
$font-Flaticon-refresh: '\f106';
$font-Flaticon-funnel: '\f107';
$font-Flaticon-credit-card: '\f108';
$font-Flaticon-settings: '\f109';
$font-Flaticon-empire-state-building: '\f10a';
$font-Flaticon-user: '\f10b';
$font-Flaticon-black-male-user-symbol: '\f10c';
$font-Flaticon-unlocked: '\f10d';
$font-Flaticon-padlock: '\f10e';
$font-Flaticon-chat: '\f10f';
$font-Flaticon-info-button: '\f110';
$font-Flaticon-file: '\f111';
$font-Flaticon-receipt: '\f112';
$font-Flaticon-writing: '\f113';
$font-Flaticon-dashboard: '\f114';
$font-Flaticon-send-mail: '\f115';
$font-Flaticon-email-marketing: '\f116';
$font-Flaticon-shopping-list: '\f117';
$font-Flaticon-work-team: '\f118';
$font-Flaticon-interface: '\f119';
$font-Flaticon-information: '\f11a';
$font-Flaticon-search: '\f11b';
$font-Flaticon-test: '\f11c';
$font-Flaticon-credit-card-1: '\f11d';
$font-Flaticon-writing-1: '\f11e';
$font-Flaticon-message: '\f11f';
$font-Flaticon-right-arrow: '\f120';
$font-Flaticon-left-arrow: '\f121';
$font-Flaticon-down-arrow: '\f122';
$font-Flaticon-up-arrow: '\f123';
