@import "header";
@import "variable";

/* animation */
@keyframes slid-right {
  0% {
    transform: translatex(-100em);
  }
  100% {
    transform: translatex(0);
  }
}

@keyframes slid-down {
  0% {
    transform: translateY(-1.25em);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slid-left {
  0% {
    transform: translatex(300em);
  }
  100% {
    transform: translatex(0);
  }
}
/*fade content*/
.fade-in {
  animation: fadeIn ease 1.2s;
  -webkit-animation: fadeIn ease 1.2s;
  -moz-animation: fadeIn ease 1.2s;
  -o-animation: fadeIn ease 1.2s;
  -ms-animation: fadeIn ease 1.2s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*resrt default css*/
* {
  padding: 0;
  margin: 0;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  color: $body-font-color;
}
h1,
h2,
h3,
h4,
h5,
h6,
nav,
div,
span,
img,
a,
p,
footer,
ul,
li {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  text-decoration: none;
  list-style: none;
}
a {
  color: #000;
}
.btn.focus,
.btn:focus {
  box-shadow: none;
}
.btn:hover {
  color: $white-color;
}

/*common css*/
.custom-container {
  width: 52%;
  margin: 0 auto;
}
.font-12 {
  font-size: 12px;
}
.btn-grey-theme {
  padding: 5px 30px;
  border-radius: 10px;
  color: $white-color;
  background-color: $grey-color;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.26);
}
.btn-grey-theme:hover {
  opacity: 0.9;
}
.btn-theme {
  padding: 5px 10px;
  min-width: 120px;
  border-radius: 10px;
  color: $white-color;
  &:hover {
    background-color: $grey-color;
    color: $white-color;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.26) !important;
  }
}
.font-weight-semibold {
  font-weight: $font-weight-semibold;
}
.grey {
  color: $grey-color;
}
.success-color {
  color: $success-color;
}
.error-color {
  color: $error-color;
}
.padding-left-18 {
  padding-left: 18px !important;
}
.border-radius {
  border-radius: $border-radius !important;
}
.border {
  border: 1px solid #d2d2d2;
  border-radius: 4px;
}
.no-bg {
  background-color: transparent !important;
}
.w-80 {
  width: 80%;
}
.w-30 {
  width: 30%;
}
.margin-top-80 {
  margin-top: 80px;
}
.alert-danger {
  color: red;
  background-color: $white-color;
  border: 1px solid $light-grey-color;
  border-radius: 20px;
  padding: 0;
  span {
    position: relative;
    padding: 0.5em 1em;
    width: calc(100% - 40px);
  }
  button {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 40px;
    border: none;
    height: 100%;
    outline: none;
    padding: 0.5em 1em;
    border-left: 1px solid $light-grey-color;
    color: red;
    background-color: transparent;
    [class^="flaticon-close"]:before,
    [class*=" flaticon-close"]:before,
    [class^="flaticon-close"]:after,
    [class*=" flaticon-close"]:after {
      font-family: Flaticon;
      font-size: 10px;
      font-weight: 600;
      font-style: normal;
    }
  }
}
/*password info tooltip*/
#showResponsive {
  display: none;
}
.password-tooltip[data-toggle="tooltip"] {
  position: absolute;
  right: 0px;
  top: 8px;
  cursor: help;
}
.password-tooltip[data-toggle="tooltip"]::before {
  content: "";
  position: absolute;
  top: -6px;
  left: 50%;
  transform: translateX(-50%);
  border-width: 4px 6px 0 6px;
  border-style: solid;
  border-color: #e0e0e0 transparent transparent transparent;
  z-index: 99;
  opacity: 0;
}
.password-tooltip[data-placement="left"]::before {
  left: 0%;
  top: 50%;
  margin-left: -12px;
  transform: translateY(-50%) rotate(-90deg);
}
.password-tooltip[data-placement="top"]::before {
  left: 50%;
}
.password-tooltip[data-placement="bottom"]::before {
  top: 100%;
  margin-top: 8px;
  transform: translateX(-50%) translatey(-100%) rotate(-180deg);
}
.password-tooltip[data-placement="right"]::before {
  left: 100%;
  top: 50%;
  margin-left: 1px;
  transform: translateY(-50%) rotate(90deg);
}
.password-tooltip[data-toggle="tooltip"]::after {
  content: attr(tooltip-title);
  position: absolute;
  left: 50%;
  top: -6px;
  transform: translateX(-50%) translateY(-100%);
  background: #e0e0e0;
  text-align: center;
  color: #000;
  padding: 4px 2px;
  font-size: 12px;
  min-width: 200px;
  border-radius: 5px;
  pointer-events: none;
  padding: 4px 4px;
  z-index: 99;
  opacity: 0;
  line-height: 1.5;
}
.password-tooltip[data-placement="left"]::after {
  left: 0%;
  top: 50%;
  margin-left: -7px;
  transform: translateX(-100%) translateY(-50%);
}
.password-tooltip[data-placement="top"]::after {
  left: 50%;
}
.password-tooltip[data-placement="bottom"]::after {
  top: 100%;
  margin-top: 8px;
  transform: translateX(-50%) translateY(0%);
}
.password-tooltip[data-placement="right"]::after {
  left: 100%;
  top: 50%;
  margin-left: 8px;
  transform: translateX(0%) translateY(-50%);
}
.password-tooltip[data-toggle="tooltip"]:hover::after,
.password-tooltip[data-toggle="tooltip"]:hover::before {
  opacity: 1;
  transform: translate();
}
.eye-icon {
  position: absolute;
  right: 5px;
  top: 7px;
}

/*header and footer on top and bottom*/
html {
  height: 100%;
}
body {
  min-height: 100%;
  padding: 0;
  margin: 0;
  position: relative;
}
body::after {
  content: "";
  display: block;
  height: 40px;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 10px;
  z-index: 20;
}

/*sign in common*/
.container-box {
  padding: 12% 5%;
  box-shadow: $box-shadow;
  border-radius: $border-radius * 2;
  width: 80%;
  float: right;
}
/*material design form*/
fieldset {
  margin: 0 0 3rem;
  padding: 0;
  border: none;
}

.form-control:focus {
  background-color: inherit !important;
  box-shadow: none !important;
}

.form-radio,
.form-group {
  position: relative;
  margin-top: 2.25rem;
  margin-bottom: 2.25rem;
  /*z-index:0*/
}

.form-inline > .form-group,
.form-inline > .btn {
  display: inline-block;
  margin-bottom: 0;
}

.form-help {
  margin-top: 0.125rem;
  margin-left: 0.125rem;
  color: #b3b3b3;
  font-size: 0.8rem;
}
.form-radio .form-help {
  padding-top: 0.25rem;
  margin-top: -1rem;
}

.form-group input {
  height: 1.9rem;
}
.form-group textarea {
  resize: none;
}
.form-group select {
  width: 100%;
  font-size: 1rem;
  height: 1.6rem;
  padding: 0.125rem 0.125rem 0.0625rem;
  background: none;
  border: none;
  line-height: 1.6;
  box-shadow: none;
}
.form-group .control-label {
  position: absolute;
  top: 0.25rem;
  pointer-events: none;
  padding-left: 0.125rem;
  z-index: 1;
  color: #b3b3b3;
  font-size: 1rem;
  font-weight: normal;
  -webkit-transition: all 0.28s ease;
  transition: all 0.28s ease;
}
.form-group .bar {
  position: relative;
  border-bottom: 0.0625rem solid #999;
  display: block;
}
.form-group .bar::before {
  content: "";
  height: 0.125rem;
  width: 0;
  left: 50%;
  bottom: -0.0625rem;
  position: absolute;
  background: $grey-color;
  -webkit-transition: left 0.28s ease, width 0.28s ease;
  transition: left 0.28s ease, width 0.28s ease;
  z-index: 2;
}
.form-group input,
.form-group textarea {
  display: block;
  background: none;
  padding: 0.125rem 0.125rem 0.0625rem;
  font-size: 1rem;
  border-width: 0;
  border-color: transparent;
  line-height: 1.9;
  width: 100%;
  color: transparent;
  -webkit-transition: all 0.28s ease;
  transition: all 0.28s ease;
  box-shadow: none;
}
.form-group input[type="file"] {
  line-height: 1;
}
.form-group input[type="file"] ~ .bar {
  display: none;
}
.form-group select,
.form-group input:focus,
.form-group input:valid,
.form-group input.form-file,
.form-group input.has-value,
.form-group textarea:focus,
.form-group textarea:valid,
.form-group textarea.form-file,
.form-group textarea.has-value {
  color: #333;
}
.form-group select ~ .control-label,
.form-group input:focus ~ .control-label,
.form-group input:valid ~ .control-label,
.form-group input.form-file ~ .control-label,
.form-group input.has-value ~ .control-label,
.form-group textarea:focus ~ .control-label,
.form-group textarea:valid ~ .control-label,
.form-group textarea.form-file ~ .control-label,
.form-group textarea.has-value ~ .control-label {
  font-size: 0.8rem;
  color: gray;
  top: -1rem;
  left: 0;
}
.form-group select:focus,
.form-group input:focus,
.form-group textarea:focus {
  outline: none;
}
.form-group select:focus ~ .control-label,
.form-group input:focus ~ .control-label,
.form-group textarea:focus ~ .control-label {
  color: $grey-color;
}
.form-group select:focus ~ .bar::before,
.form-group input:focus ~ .bar::before,
.form-group textarea:focus ~ .bar::before {
  width: 100%;
  left: 0;
}

// .checkbox label,
.form-radio label {
  position: relative;
  cursor: pointer;
  padding-left: 1.4rem;
  text-align: left;
  color: #333;
  display: inline-block;
}
// .checkbox input,
.form-radio input {
  width: auto;
  opacity: 0.00000001;
  position: absolute;
  left: 0;
}

.radio {
  margin-bottom: 1rem;
}
.radio .helper {
  position: absolute;
  top: -0.25rem;
  left: -0.25rem;
  cursor: pointer;
  display: block;
  font-size: 1rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #999;
}
.radio .helper::before,
.radio .helper::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  margin: 0.25rem;
  width: 1rem;
  height: 1rem;
  -webkit-transition: -webkit-transform 0.28s ease;
  transition: -webkit-transform 0.28s ease;
  transition: transform 0.28s ease;
  transition: transform 0.28s ease, -webkit-transform 0.28s ease;
  border-radius: 50%;
  border: 0.125rem solid currentColor;
}
.radio .helper::after {
  -webkit-transform: scale(0);
  transform: scale(0);
  background-color: $grey-color;
  border-color: $grey-color;
}
.radio label:hover .helper {
  color: $grey-color;
}
.radio input:checked ~ .helper::after {
  -webkit-transform: scale(0.5);
  transform: scale(0.5);
}
.radio input:checked ~ .helper::before {
  color: $grey-color;
}

.radio + .radio {
  margin-top: 1rem;
}

.has-error .legend.legend,
.has-error.form-group .control-label.control-label {
  color: #d9534f;
}
.has-error.form-group .form-help,
.has-error.form-group .helper,
.has-error.checkbox .form-help,
.has-error.checkbox .helper,
.has-error.radio .form-help,
.has-error.radio .helper,
.has-error.form-radio .form-help,
.has-error.form-radio .helper {
  color: #d9534f;
}
.has-error .bar::before {
  background: #d9534f;
  left: 0;
  width: 100%;
}
.fix-header {
  position: fixed;
  width: 100%;
  z-index: 20;
  // animation-name: slid-down;
  // animation-duration: 1s;
}
.fix-wrapper {
  padding-top: 5%;
}
.custom-modal-header {
  text-align: center;
  font-size: 22px;
  padding: 10px 20px;
  border-top-left-radius: $border-radius;
  border-top-right-radius: $border-radius;
}
.normal-box-container {
  box-shadow: $box-shadow;
  padding: 20px;
  border-radius: $border-radius;
}
.error {
  color: red;
}
.loading {
  width: 100%;
  height: 100%;
  background: url("~/assets/images/loader.gif") no-repeat center center #fafafa;
  z-index: 9999;
  position: fixed;
  opacity: 0.9;
  display: block;
}

/*custom-checkbox*/
.styled-checkbox {
  position: absolute; // take it out of document flow
  opacity: 0; // hide it

  & + label {
    position: relative;
    cursor: pointer;
    padding: 0;
  }

  // Box.
  & + label:before {
    content: "";
    margin-right: 7px;
    display: inline-block;
    vertical-align: text-top;
    width: 20px;
    height: 20px;
    border: 2px solid #d8d8d8;
  }

  // Box checked
  &:checked + label:before {
    background: #bbbbbb;
  }

  // Disabled state label.
  &:disabled + label {
    color: #b8b8b8;
    cursor: auto;
  }

  // Disabled box.
  &:disabled + label:before {
    box-shadow: none;
    background: #ddd;
  }

  // Checkmark. Could be replaced with an image
  &:checked + label:after {
    content: "";
    position: absolute;
    left: 5px;
    top: 10px;
    background: white;
    width: 2px;
    height: 2px;
    box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white,
      4px -6px 0 white, 4px -8px 0 white;
    transform: rotate(45deg);
  }
}
.dropdown-toggle::after {
  border: solid #b5b5b5;
  border-width: 0 2px 2px 0;
  padding: 3px;
  transform: rotate(45deg);
}
