[class^='flaticon-']:before,
[class*=' flaticon-']:before,
[class^='flaticon-']:after,
[class*=' flaticon-']:after {
  font-family: Flaticon;
  font-size: 22px;
  font-style: normal;
}
.flaticon-dining:before {
  font-size: 24px;
}
.flaticon-power:before {
  font-size: 14px;
}
.big-font .flaticon-refresh:before {
  font-size: 40px;
}
.flaticon-funnel:before {
  position: relative;
  right: 0;
  top: -5px;
}
.flaticon-credit-card:before {
  font-size: 16px;
}
.flaticon-message:before {
  font-size: 26px;
}
.flaticon-unlocked:before {
  font-size: 14px;
}
.flaticon-padlock:before {
  font-size: 14px;
}
.flaticon-info-button:before {
  font-size: 14px;
}
.flaticon-workers:before {
  font-size: 28px;
}
