@import 'variable';

$theme-color: #8e684a;
/*common css*/
a:hover {
  color: $theme-color;
  text-decoration: none;
}
.font-color {
  color: $theme-color;
}
.background-color {
  background-color: $theme-color;
}
.background-grey {
  background-color: $grey-color;
}
.shadow {
  box-shadow: 0px 3px 13px 0px rgba(142, 104, 74, 0.56) !important;
}
#sidebar-wrapper .sidebar-nav li a.profile-icon img {
  opacity: 0;
}
/*header*/
header.header {
  .topnav {
    .navbar-nav {
      .nav-item {
        .nav-link {
          &:hover {
            background-color: $white-color !important;
            i {
              color: $theme-color;
            }
            /* .ico-m */
            p {
              color: $black-color;
            }
            /* p */
          }
        }
      }
    }
  }
  .nav-link.active {
    background-color: $white-color !important;
    border-bottom: 3px solid $theme-color !important;
    i {
      color: $theme-color;
    }
    p {
      color: $black-color;
    }
  }
}
/*sidebar*/
#sidebar-wrapper {
  .sidebar-nav {
    li.active {
      a .icon-border-right {
        border-right: 3px solid $theme-color;
        .icon-circle {
          background-color: $theme-color;
          i {
            color: $white-color;
          }
        }
      }
    }
    li.active {
      .borderRight {
        border-right: 3px solid $theme-color;
        a {
          background-color: $theme-color;
          i {
            color: $white-color;
          }
        }
      }
    }
  }
}
/*active state*/
.activeState {
  background-color: $theme-color !important;
  color: $white-color !important;
}
.activeState i {
  color: #fff;
}
/*pagination*/
.active-pagination {
  background-color: $theme-color !important;
  color: $white-color !important;
  box-shadow: 0px 5px 10px 0px rgba(142, 104, 74, 0.78) !important;
}
.active-pagination:hover {
  background-color: $theme-color;
  color: $white-color;
}
.border-right {
  border-right: 4px solid $theme-color;
}
/*nav bar and nav pills*/
.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  border-bottom: 2px solid $theme-color !important;
  color: $theme-color !important;
  border-top-color: transparent !important;
  border-left-color: transparent !important;
  border-right-color: transparent !important;
}
.nav-tabs .nav-link {
  border: 0;
}
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background-color: $theme-color;
  border-radius: 0;
}
/*profile image*/
.profile-img {
  position: relative;
  width: $profile-img-size;
  height: $profile-img-size;
  align-content: center;
  img {
    width: $profile-img-size;
    height: $profile-img-size;
    border: 1px solid $theme-color;
  }
}
.newbtn {
  cursor: pointer;
  border: 1px solid $theme-color;
  border-radius: 4px;
  position: relative;
  img {
    height: 125px;
  }
  .label-info {
    visibility: hidden;
    background-color: rgba(255, 255, 255, 0.6);
    position: absolute;
    z-index: 1;
    bottom: 0;
    width: 100%;
    opacity: 0;
    transition: opacity 0.3s;
    padding: 3px;
  }
}
/*active filter*/
.active-filter {
  background-color: $theme-color;
  color: $white-color;
  i {
    color: $white-color;
  }
}
/*code for plan box hover border and button*/
.pricing-box:hover {
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  transform: scale(1.1);
  z-index: 2;
  border: 0;
}
.pricing-box:hover .btn-grey-theme {
  color: #fff;
  background-color: $theme-color;
  transition: all ease-in-out 0.3s;
}
.btn-current-plan {
  border: 1px solid $theme-color;
  background-color: $theme-color;
  padding: 5px 30px;
  border-radius: 10px;
  font-size: 1rem;
  font-weight: 500;
  color: #fff;
}
.btn-group {
  .btn-custom {
    background: $white-color;
    box-shadow: 0px 3px 6px #00000029;
    &:hover,
    &:focus {
      color: $black-color;
      background-color: $white-color;
      box-shadow: 0px 3px 6px #00000029;
    }
    &.selected {
      background: $theme-color;
      color: $white-color;
    }
  }
}
/*footer*/
footer {
  background-color: #594f45;
}

/* Guest Detail Update Page */
.guest-detail-update {
  .social-icon {
    .styled-checkbox {
      & ~ .label {
        background-color: $grey-color;
        color: $white-color;
      }

      // Box.
      & ~ i.background {
        background-color: $grey-color;
        color: $white-color;
      }
      & ~ i.icon {
        background-color: transparent;
        color: $white-color;
      }
      // Box checked
      &:checked ~ .label,
      &:checked ~ i.background {
        background-color: $theme-color !important;
      }
      &:checked + label:before {
        border: 2px solid $theme-color;
        background: $white-color;
      }
      &:checked + label:after {
        border: 1px solid $theme-color;
        background-color: $theme-color !important;
        box-shadow: 2px 0 0 $theme-color, 4px 0 0 $theme-color, 4px -2px 0 $theme-color, 4px -4px 0 $theme-color,
          4px -6px 0 $theme-color, 4px -8px 0 $theme-color;
      }
    }
  }
}
/* Guest Detail Update Page Ends */

/* ng5-slider Start */
.custom-slider {
  .ng5-slider {
    .ng5-slider-bar,
    .ng5-slider-tick {
      background: lighten($color: $theme-color, $amount: 40);
    }
    .ng5-slider-selection,
    .ng5-slider-tick.ng5-slider-selected {
      background: $theme-color;
    }
    .ng5-slider-pointer {
      border: 1px solid darken($color: $light-grey-color, $amount: 15%);
      background-color: $light-grey-color;
    }
    .ng5-slider-limit {
      color: $theme-color;
    }
  }
}
/* ng5-slider Ends */
