<app-sidebar></app-sidebar>
<div class="container">
  <div class="table-responsive">
    <table class="table table-striped table-border rounded text-center mt-5">
      <thead class="background-color text-white">
        <tr>
          <th class="font-weight-semibold">Invoice Id</th>
          <th class="font-weight-semibold">Invoice Date</th>
          <th class="font-weight-semibold">Title</th>
          <th class="font-weight-semibold">Amount</th>
          <th class="font-weight-semibold">Status</th>
          <th class="font-weight-semibold"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let invoice of invoiceDetailsList">
          <td>{{ invoice.invoiceID }}</td>
          <td>{{ invoice.invoiceDate }}</td>
          <td>{{ invoice.title }}</td>
          <td>{{ invoice.amount }}</td>
          <td>{{ invoice.status == 0 ? 'Expired' : 'Active' }}</td>
          <td><img class="mb-2 pointer"   src="../../../assets/images/download.png"/></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
