<section class="pb-3 fade-in signupPage">
  <div class="custom-container">
    <div class="alert mb-3" [ngClass]="'alert-' + alertError.type" *ngIf="alertError.display != false">
      <button type="button" class="close" data-dismiss="alert" (click)="alertError.display = false">&times;</button>
      <p>{{ alertError.msg }}</p>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-12 py-3">
          <ul class="mt-2 list-unstyled multi-steps">
            <li [ngClass]="{ 'is-active': step == 0 }">
              <button class="step-icon" (click)="step = 0"><i class="fi flaticon-writing-1"></i></button>
              Register Business
            </li>
            <li [ngClass]="{ 'is-active': step == 1 }">
              <button class="step-icon" (click)="step = 1"><i class="fi flaticon-user"></i></button>
              Create Profile
            </li>
            <li [ngClass]="{ 'is-active': step == 2 }">
              <button class="step-icon" (click)="step = 2"><i class="fi flaticon-test"></i></button>
              Select Plans & Finalize
            </li>
            <li [ngClass]="{ 'is-active': step == 3 }">
              <button class="step-icon" (click)="step = 3"><i class="fi flaticon-credit-card-1"></i></button>
              All Set
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="col-12 fade-in p-0" *ngIf="step == 0">
        <app-register-business [(step)]="step"></app-register-business>
      </div>
      <div class="col-12 fade-in p-0" *ngIf="step == 1">
        <app-create-business [(step)]="step"></app-create-business>
      </div>
      <div class="col-12 fade-in p-0" *ngIf="step == 2">
        <app-select-plan [(step)]="step"></app-select-plan>
      </div>
      <div class="col-12 fade-in p-0" *ngIf="step == 3">
        <app-all-set [(step)]="step"></app-all-set>
      </div>

      <div class="col-12 text-center mt-4">
        By signing up, you agree
        <button type="button" class="btn btn-underline not-finding p-0">terms and conditions</button>
      </div>
    </div>
  </div>
</section>
