/*common color code*/
/* Font Style Variable*/
/* Shadow to Container Box*/
/* Sidebar Variable */
/*profile*/
/* line 2, ../sass/dashboard.scss */
#dashboardPage {
  /* Tooltip text */
  /* Tooltip arrow */
  /* Show the tooltip text when you mouse over the tooltip container */
}
/* line 3, ../sass/dashboard.scss */
#dashboardPage .no-data-img {
  width: 32%;
}
/* line 4, ../sass/dashboard.scss */
#dashboardPage .table-column-btn {
  display: block;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 8px 15px;
}
/* line 11, ../sass/dashboard.scss */
#dashboardPage .active-filter {
  background-color: #e14b28;
  color: #ffffff;
}
/* line 12, ../sass/dashboard.scss */
#dashboardPage .active-filter i {
  color: #ffffff;
}
/* line 16, ../sass/dashboard.scss */
#dashboardPage .search {
  padding: 8px 10px 8px 45px;
  background-repeat: no-repeat;
  background-position: 10px;
  background-image: url("../images/search.png");
  border-radius: 10px;
}
/* line 23, ../sass/dashboard.scss */
#dashboardPage .page-item {
  margin-right: 10px;
}
/* line 24, ../sass/dashboard.scss */
#dashboardPage .page-link {
  color: #000000;
  border-radius: 50px !important;
  background-color: #ffffff;
  border: 0 !important;
  padding: 0.3rem 0.6rem !important;
  box-shadow: 0px 5px 24px 0px rgba(0, 0, 0, 0.22);
}
/* line 32, ../sass/dashboard.scss */
#dashboardPage .page-link:hover {
  background-color: inherit;
}
/* line 35, ../sass/dashboard.scss */
#dashboardPage .table-border {
  border: 1px solid #c0c0c0;
  border-radius: 4px;
}
/* line 36, ../sass/dashboard.scss */
#dashboardPage .custom-tooltip {
  position: relative;
}
/* line 38, ../sass/dashboard.scss */
#dashboardPage .custom-tooltip .tooltiptext {
  visibility: hidden;
  width: 200px;
  background-color: #ffffff;
  text-align: left;
  padding: 10px;
  box-shadow: 3.5px 3.5px 5px 0 rgba(0, 0, 0, 0.1);
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: 0;
  right: 36px;
}
/* line 53, ../sass/dashboard.scss */
#dashboardPage .custom-tooltip .tooltiptext::after {
  /*content: "";
  position: absolute;
  top: 5%;
  left: 0;
  margin-left: -16px;
  border-width: 8px;
  border-style: solid;
  border-color: transparent $white-color transparent transparent;*/
  content: "";
  position: absolute;
  top: 5%;
  right: -16px;
  margin-left: -16px;
  border-width: 8px;
  border-style: solid;
  border-color: transparent transparent transparent #fff;
}
/* line 72, ../sass/dashboard.scss */
#dashboardPage .custom-tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
/* line 76, ../sass/dashboard.scss */
#dashboardPage .incomplete {
  background-color: #fae274;
  padding: 1px 8px;
}
/* line 77, ../sass/dashboard.scss */
#dashboardPage .sms-tab-container {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding-bottom: 20px;
}
/* line 78, ../sass/dashboard.scss */
#dashboardPage .alert-custom {
  background-color: #fff;
  border: 1px solid #ccc;
  color: red;
  border-radius: 10px;
}
/* line 84, ../sass/dashboard.scss */
#dashboardPage [class^="flaticon-user"]:before, #dashboardPage [class*=" flaticon-user"]:before,
#dashboardPage [class^="flaticon-user"]:after, #dashboardPage [class*=" flaticon-user"]:after {
  font-family: Flaticon;
  font-size: 10px;
  font-style: normal;
}
