/*common color code*/
/* Font Style Variable*/
/* Shadow to Container Box*/
/* Sidebar Variable */
/*profile*/
/* line 5, ../sass/kyobee.scss */
a:hover {
  color: #e14b28;
  text-decoration: none;
}

/* line 6, ../sass/kyobee.scss */
.font-color {
  color: #e14b28;
}

/* line 7, ../sass/kyobee.scss */
.background-color {
  background-color: #e14b28;
}

/* line 8, ../sass/kyobee.scss */
.done-icon-shadow {
  box-shadow: 0px 3px 13px 0px rgba(221, 56, 36, 0.56);
}

/* line 9, ../sass/kyobee.scss */
#sidebar-wrapper .sidebar-nav li a.profile-icon img {
  opacity: 0;
}

/* line 10, ../sass/kyobee.scss */
.activeState {
  background-color: #e14b28 !important;
  color: #ffffff !important;
}

/* line 11, ../sass/kyobee.scss */
.activeState i {
  color: #fff;
}

/* line 12, ../sass/kyobee.scss */
.active-pagination {
  background-color: #e14b28 !important;
  color: #ffffff !important;
  box-shadow: 0px 5px 10px 0px rgba(237, 59, 47, 0.78) !important;
}

/* line 13, ../sass/kyobee.scss */
.active-pagination:hover {
  background-color: #e14b28;
  color: #ffffff;
}

/* line 14, ../sass/kyobee.scss */
.border-right {
  border-right: 4px solid #e14b28;
}

/* line 15, ../sass/kyobee.scss */
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  border-bottom: 2px solid #e14b28 !important;
  color: #e14b28 !important;
  border-top-color: transparent !important;
  border-left-color: transparent !important;
  border-right-color: transparent !important;
}

/* line 16, ../sass/kyobee.scss */
.nav-tabs .nav-link {
  border: 0;
}

/* line 17, ../sass/kyobee.scss */
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  background-color: #e14b28;
  border-radius: 0;
}

/*code for plan box hover border and button*/
/* line 19, ../sass/kyobee.scss */
.pricing-box:hover {
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  transform: scale(1.1);
  z-index: 2;
  border: 0;
}

/* line 20, ../sass/kyobee.scss */
.pricing-box:hover .btn-grey-theme {
  color: #fff;
  background-color: #e14b28;
  transition: all ease-in-out 0.3s;
}

/*footer*/
/* line 22, ../sass/kyobee.scss */
footer {
  background-color: #e14b28;
}
