/*common color code*/
/* Font Style Variable*/
/* Shadow to Container Box*/
/* Sidebar Variable */
/*profile*/
/* line 3, ../sass/profile.scss */
.profile-img {
  position: relative;
  width: 100px;
  height: 100px;
  align-content: center;
  /* file-input */
}
/* line 5, ../sass/profile.scss */
.profile-img img {
  width: 100px;
  height: 100px;
  border: 1px solid #e14b28;
}

/* line 11, ../sass/profile.scss */
.pass-link {
  position: absolute;
  right: 0;
  top: 5px;
}

/* line 21, ../sass/profile.scss */
.modal [class^="flaticon-"]:before, .modal [class*=" flaticon-"]:before,
.modal [class^="flaticon-"]:after, .modal [class*=" flaticon-"]:after {
  font-family: Flaticon;
  font-size: 14px;
  font-style: normal;
}
