/*common color code*/
/* Font Style Variable*/
/* Shadow to Container Box*/
/* Sidebar Variable */
/*profile*/
@media (max-width: 767.98px) {
  /* Common CSS */
  .container.pt-5 {
    padding-bottom: 1rem; }

  .custom-container {
    width: 85%; }

  .container-box {
    width: 100%;
    float: none; }

  .pricing-box {
    padding: 8% 5%; }

  .sm-block {
    display: block !important; }

  .sm-d-none {
    display: none !important; }

  .sm-pl-0 {
    padding-left: 0; }

  .sm-pr-0 {
    padding-right: 0; }

  .sm-mx-auto {
    margin: auto; }

  .modal .modal-btn {
    text-align: center !important; }
    .modal .modal-btn .btn-theme {
      width: 80% !important; }

  header .topnav {
    padding: 0.5rem; }
    header .topnav ul li a {
      text-align: left; }
      header .topnav ul li a i {
        margin-right: 10px; }
      header .topnav ul li a p {
        display: initial; }

  .logout-res {
    width: 100%;
    text-align: right; }

  .w-res-100 {
    width: 100%; }

  .fix-wrapper {
    padding-top: 80px; }

  .modal-dialog {
    max-width: 600px !important; }

  #sidebar-wrapper {
    width: 100%;
    height: all;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 11;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)); }
    #sidebar-wrapper button {
      color: #fff;
      position: fixed;
      top: 0;
      right: 0; }
    #sidebar-wrapper .sidebar-nav {
      width: 50%;
      background-color: #fff;
      height: 100%; }
      #sidebar-wrapper .sidebar-nav li a {
        text-align: left; }
        #sidebar-wrapper .sidebar-nav li a .icon-border-right {
          padding: 8px;
          display: inline-block;
          border-right: none; }
      #sidebar-wrapper .sidebar-nav li.active a .icon-border-right {
        border-right: none; }

  /* #sidebar-wrapper */
  #page-content-wrapper .normal-box-container {
    margin: 0.25rem;
    padding: 0; }
    #page-content-wrapper .normal-box-container .row {
      padding: 0; }
      #page-content-wrapper .normal-box-container .row .col {
        padding: 0; }

  /* page-content-wrapper */
  /* Common CSS Ends */
  /* dashboardPage */
  #dashboardPage .sub-btn {
    display: block;
    margin: 0px 0px 10px 0px !important; }

  /* addUserPage */
  #addUserPage .first-lang {
    flex-direction: column-reverse; } }
@media (min-width: 768px) and (max-width: 991.98px) {
  /* Common CSS */
  .custom-container {
    width: 90%; }

  .md-block {
    display: block !important; }

  .modal-dialog {
    max-width: 600px !important; }

  #wrapper {
    margin-top: 3%;
    padding-left: 140px; }
    #wrapper #sidebar-wrapper {
      width: 140px; }

  .asidebar {
    display: none; }

  /* sidebar-wrapper */
  #page-content-wrapper .normal-box-container {
    margin: 0.25rem;
    padding: 0; }
    #page-content-wrapper .normal-box-container .row {
      padding: 0; }
      #page-content-wrapper .normal-box-container .row .col {
        padding: 0; }

  /* page-content-wrapper */
  /* Common CSS Ends */
  /* login */
  #login .custom-container {
    padding-top: 3rem !important; }

  /* dashboardPage */
  /* addUserPage */
  #addUserPage .first-lang {
    flex-direction: column-reverse; } }
@media (min-width: 992px) and (max-width: 1199.98px) {
  /* Common CSS */
  .modal-dialog {
    max-width: 600px !important; }

  #wrapper {
    padding-left: 140px; }
    #wrapper #sidebar-wrapper {
      width: 140px; }

  #page-content-wrapper .normal-box-container {
    margin: 0.25rem;
    padding: 0; }

  /* page-content-wrapper */
  /* Common CSS Ends */ }
@media (min-width: 1200px) {
  /* Common CSS */
  .modal-dialog {
    max-width: 600px !important; }

  #wrapper {
    padding-left: 140px; }
    #wrapper #sidebar-wrapper {
      width: 140px; }

  /* Common CSS Ends */ }

/*# sourceMappingURL=responsive.css.map */
