/*common color code*/
/* Font Style Variable*/
/* Shadow to Container Box*/
/* Sidebar Variable */
/*profile*/
/* line 3, ../sass/setting.scss */
.selectBox {
  position: relative;
}

/* line 7, ../sass/setting.scss */
.overSelect {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

/* line 15, ../sass/setting.scss */
#checkboxes {
  display: none;
  border: 1px #dadada solid;
}
/* line 18, ../sass/setting.scss */
#checkboxes label {
  display: block;
  padding: 5px 10px;
  margin-bottom: 0 !important;
}
/* line 22, ../sass/setting.scss */
#checkboxes label input {
  margin-right: 10px;
  margin-top: 2px;
}

/* line 28, ../sass/setting.scss */
.showDropdown {
  display: block !important;
  width: 85%;
  background-color: #ffffff;
  z-index: 1;
  position: absolute;
}

/* line 35, ../sass/setting.scss */
.hideDropdown {
  display: none;
}
