/*common color code*/
/* Font Style Variable*/
/* Shadow to Container Box*/
/* Sidebar Variable */
/*profile*/
/* line 3, ../sass/signin.scss */
.padding-top-fix {
  padding-top: 7%;
}

/* line 6, ../sass/signin.scss */
.forgot-pass-link {
  position: absolute;
  right: 0;
  top: 5px;
}
