/*common color code*/
/* Font Style Variable*/
/* Shadow to Container Box*/
/* Sidebar Variable */
/*profile*/
/*common css*/
a:hover {
  color: #004b85;
  text-decoration: none; }

.font-color {
  color: #004b85; }

.background-color {
  background-color: #004b85; }

.shadow {
  box-shadow: 0px 3px 13px 0px rgba(0, 75, 133, 0.53) !important; }

#sidebar-wrapper .sidebar-nav li a.profile-icon img {
  opacity: 0; }

/*header*/
.topnav button ul li a:hover {
  background-color: #ffffff !important;
  /* .ico-m */
  /* p */ }
  .topnav button ul li a:hover i {
    color: #004b85; }
  .topnav button ul li a:hover p {
    color: #000000; }
.topnav a.active {
  background-color: #ffffff !important;
  border-bottom: 3px solid #004b85; }
  .topnav a.active i {
    color: #004b85; }
  .topnav a.active p {
    color: #000000; }

/*sidebar*/
#sidebar-wrapper .sidebar-nav li.active a .icon-border-right {
  border-right: 3px solid #004b85; }
  #sidebar-wrapper .sidebar-nav li.active a .icon-border-right .icon-circle {
    background-color: #004b85; }
    #sidebar-wrapper .sidebar-nav li.active a .icon-border-right .icon-circle i {
      color: #ffffff; }
#sidebar-wrapper .sidebar-nav li.active .borderRight {
  border-right: 3px solid #004b85; }
  #sidebar-wrapper .sidebar-nav li.active .borderRight a {
    background-color: #004b85; }
    #sidebar-wrapper .sidebar-nav li.active .borderRight a i {
      color: #ffffff; }

/*active state*/
.activeState {
  background-color: #004b85 !important;
  color: #ffffff !important; }

.activeState i {
  color: #fff; }

/*pagination*/
.active-pagination {
  background-color: #004b85 !important;
  color: #ffffff !important;
  box-shadow: 0px 5px 10px 0px rgba(0, 75, 133, 0.78) !important; }

.active-pagination:hover {
  background-color: #004b85;
  color: #ffffff; }

.border-right {
  border-right: 4px solid #004b85; }

/*nav bar and nav pills*/
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  border-bottom: 2px solid #004b85 !important;
  color: #004b85 !important;
  border-top-color: transparent !important;
  border-left-color: transparent !important;
  border-right-color: transparent !important; }

.nav-tabs .nav-link {
  border: 0; }

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  background-color: #004b85;
  border-radius: 0; }

/*profile image*/
.profile-img {
  position: relative;
  width: 100px;
  height: 100px;
  align-content: center; }
  .profile-img img {
    width: 100px;
    height: 100px;
    border: 1px solid #004b85; }

.newbtn {
  cursor: pointer;
  border: 1px solid #004b85;
  border-radius: 4px;
  position: relative; }
  .newbtn img {
    height: 125px; }
  .newbtn .label-info {
    visibility: hidden;
    background-color: rgba(255, 255, 255, 0.6);
    position: absolute;
    z-index: 1;
    bottom: 0;
    width: 100%;
    opacity: 0;
    transition: opacity 0.3s;
    padding: 3px; }

/*active filter*/
.active-filter {
  background-color: #004b85;
  color: #ffffff; }
  .active-filter i {
    color: #ffffff; }

/*code for plan box hover border and button*/
.pricing-box:hover {
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  transform: scale(1.1);
  z-index: 2;
  border: 0; }

.pricing-box:hover .btn-grey-theme {
  color: #fff;
  background-color: #004b85;
  transition: all ease-in-out 0.3s; }

.btn-current-plan {
  border: 1px solid #004b85;
  background-color: #004b85;
  padding: 5px 30px;
  border-radius: 10px;
  font-size: 1rem;
  font-weight: 500;
  color: #fff; }

/*footer*/
footer {
  background-color: #004b85; }

/*# sourceMappingURL=theme-advantech.css.map */
