<div class="clearfix"></div>
<section class="pb-5 fix-wrapper center-items fade-in" id="login">
  <section class="custom-container pt-3">
    <div class="row">
      <div class="col-12">
        <h2 class="text-center font-weight-semibold">Password Recovery</h2>
        <p class="text-center pb-3">Recover your password to sign in again</p>
      </div>
      <div class="col-lg-6 col-md-12 col-sm-12 py-4">
        <img src="assets/images/recovery-pass-illu.png" class="img-fluid m-md-auto d-md-block" alt="image" />
      </div>
      <div class="col-lg-6 col-md-12 col-sm-12 py-4 pb-md-0">
        <div class="container-box float-lg-right float-md-none m-md-auto">
          <h6 class="text-center pb-5">Enter your email and we will send you a link to reset your password</h6>

          <form name="form" #f="ngForm" (ngSubmit)="(f.form.valid)" novalidate>
            <div class="form-group mt-0">
              <input
                type="email"
                id="username"
                class="form-control"
                name="username"
                [(ngModel)]="username"
                #uname="ngModel"
                pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$"
                [ngClass]="{ 'is-invalid': f.submitted && uname.invalid }"
                [(ngModel)]="username"
                required="required"
              />
              <label for="input" class="control-label">Email</label>
              <i class="bar"></i>
              <div *ngIf="f.submitted && uname.invalid" class="invalid-feedback">
                <small class="text-danger" *ngIf="uname.errors.required">Email is a required field!</small>
                <small class="text-danger" *ngIf="uname.errors.pattern">This is not a valid Email!!!</small>
              </div>
            </div>

            <div class="col-ld-12 text-center pt-2 pb-4">
              <button type="submit" (click)="sendLinkForPwordReset(f.form.invalid)" class="btn btn-theme background-color shadow w-50"><span>Send</span></button>
            </div>
          </form>

          <p class="text-center">You don’t have an account? <a [routerLink]="['/auth/signup']" class="font-color font-weight-semibold">Sign Up</a></p>
        </div>
        <div class="container-box text-center" *ngIf="show == true">
          <img src="assets/images/correct-sign.png" class="background-color done-icon shadow w-100 w-md-auto" alt="correct" />
          <h5 class="pb-3 pt-4">We've sent you an email with reset password link and the instructions.</h5>
          <p class="pb-5">Didn't receive the link? <a class="font-color font-weight-semibold" [routerLink]="['/auth/forgot-password']" href="">Resend Now</a></p>
          <p>You don’t have an account? <a class="font-color font-weight-semibold" [routerLink]="['/auth/signup']">Sign Up</a></p>
        </div>
        <div *ngIf="show == false">
          User does not exists
        </div>
      </div>
    </div>
  </section>
</section>
