<form name="form" #f="ngForm" class="row mx-0 mt-3" (ngSubmit)="(f.form.invalid)" novalidate>
  <div class="col-12 col-sm-11 row mx-auto">
    <div class="col-12 pb-3">
      <h4 class="text-center mb-3">Set-up For Payment</h4>
    </div>
    <div class="col-12 row m-0 p-0 align-items-lg-start mt-4">
      <div class="col-12 col-md-6 col-lg-3 order-md-1 order-lg-0 p-0 pr-md-2">
        <div class="container-box restaurant">
          <h6 class="restaurant_title">Restaurant Address</h6>
          <p class="restaurant_address">
            <span class="font-weight-bold">{{ authb2bService.organization.organizationName }}</span>
            <span> {{ authb2bService.organization.addressDTO.addressLineOne }}, </span>
            <span>{{ authb2bService.organization.addressDTO.state }} , {{ authb2bService.organization.addressDTO.country }}.</span>
          </p>
        </div>
      </div>
      <div class="col-12 col-md-12 col-lg-6 order-md-0 order-lg-1 p-0 px-lg-5">
        <div class="container-box payment">
          <div class="row m-0 p-2">
            <div class="col-12">
              <button type="button" class="btn btn-img-cards">
                <img src="assets/images/card/visa-card.png" alt="visa-card" />
              </button>
              <button type="button" class="btn btn-img-cards">
                <img src="assets/images/card/master-card.png" alt="visa-card" />
              </button>
              <button type="button" class="btn btn-img-cards">
                <img src="assets/images/card/american-express-card.png" alt="visa-card" />
              </button>
              <button type="button" class="btn btn-img-cards">
                <img src="assets/images/card/discover-card.png" alt="visa-card" />
              </button>
            </div>
            <div class="col-12">
              <div class="form-group my-3">
                <input type="text" id="firstName" name="firstName" maxlength="50" #firstName="ngModel" [ngClass]="{ 'is-invalid': f.submitted && firstName.invalid }" class="form-control" [(ngModel)]="fName" required="required" />
                <label for="input" class="control-label">First Name*</label><i class="bar"></i>
                <div *ngIf="f.submitted && firstName.invalid" class="invalid-feedback">
                  <div class="text-danger" *ngIf="firstName.errors?.required">First Name is required</div>
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="form-group my-3">
                <input type="text" id="lastName" name="lastName" maxlength="50" #lastName="ngModel" [ngClass]="{ 'is-invalid': f.submitted && lastName.invalid }" class="form-control" [(ngModel)]="lName" />
                <label for="input" class="control-label">Last Name</label><i class="bar"></i>
                <div *ngIf="f.submitted && lastName.invalid" class="invalid-feedback">
                  <!-- <div class="text-danger" *ngIf="lastName.errors?.required">Business Name is required</div> -->
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="form-group my-3 braintree-form">
                <div id="cardNumber" class="braintree-form-input"></div>
                <!-- <input type="text" id="cardNumber" name="cardNumber" #cardNumber="ngModel" [ngClass]="{ 'is-invalid': f.submitted && cardNumber.invalid }" class="form-control" [(ngModel)]="payment.cardNumber" required="required" /> -->
                <label for="input" class="control-label">Card Number</label><i class="bar"></i>
                <!-- commenting for  while start-->
                <!--  <span class="eye-icon-img">
                  <img src="assets/images/card/discover-card.png" alt="visa-card" />
                </span>-->
                <!-- commenting for  while end-->
                <!-- <div *ngIf="f.submitted && cardNumber.invalid" class="invalid-feedback">
                  <div class="text-danger" *ngIf="cardNumber.errors?.required">Please Enter card number</div>
                </div> -->
              </div>
            </div>
            <div class="col-12 braintree-form">
              <div class="form-group my-3">
                <div id="expiryDate" class="braintree-form-input"></div>
                <!-- <input type="text" id="expiryDate" name="expiryDate" #expiryDate="ngModel" [ngClass]="{ 'is-invalid': f.submitted && expiryDate.invalid }" class="form-control" [(ngModel)]="payment.expiryDate" required="required" /> -->
                <label for="input" class="control-label">Expiry Date(MM/YY)</label><i class="bar"></i>
                <span class="grey fi flaticon-info-button font-14 eye-icon font-weight-semibold"></span>
                <!-- <div *ngIf="f.submitted && expiryDate.invalid" class="invalid-feedback">
                  <div class="text-danger" *ngIf="expiryDate.errors?.required">Please Enter your card expiry date</div>
                </div> -->
              </div>
            </div>
            <div class="col-12">
              <div class="form-group my-3 braintree-form">
                <div id="cvv" class="braintree-form-input"></div>
                <!-- <input type="text" id="cvv" name="cvv" #cvv="ngModel" [ngClass]="{ 'is-invalid': f.submitted && cvv.invalid }" class="form-control" maxlength="3" minlength="3" [(ngModel)]="payment.cvv" required="required" /> -->
                <label for="input" class="control-label">Security Code(CVV)</label><i class="bar"></i>
                <span class="grey fi flaticon-info-button font-14 eye-icon font-weight-semibold"></span>
                <!-- <div *ngIf="f.submitted && cvv.invalid" class="invalid-feedback">
                  <div class="text-danger" *ngIf="cvv.errors?.required">Please enter Security Code</div>
                  <div class="text-danger" *ngIf="cvv.errors.minlength">CVV must be at least 3 characters</div>
                </div> -->
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-3 order-md-3 order-lg-2 p-0 pl-md-2">
        <div class="container-box plan_summary">
          <h6 class="plan_summary_title">Plan Summary</h6>
          <div class="plan_summary_detail">
            <div *ngFor="let termList of authb2bService.planTermList">
              <div class="row m-0 pb-3" *ngFor="let planFeature of termList.featureList">
                <div class="col" *ngFor="let item of planFeature.featureChargeDetails" [hidden]="item.planFeatureChargeId !== authb2bService.planSummary[planFeature.featureName.toLowerCase().replace(' ', '')]">
                  <p class="font-16">{{ planFeature.featureName }}</p>
                  <span class="font-color font-12">{{ item.planName }} Plan</span>
                </div>
                <div class="col-auto" *ngFor="let item of planFeature.featureChargeDetails" [hidden]="item.planFeatureChargeId !== authb2bService.planSummary[planFeature.featureName.toLowerCase().replace(' ', '')]">
                  <p class="font-weight-bold text-right font-16">{{ item.featureCharge | currency }}</p>
                  <p class="font-12">{{ termList.termName == 'Monthly' ? 'Month' : 'Annum' }}</p>
                </div>
              </div>
            </div>
            <!--  <div class="row m-0 pb-3 border-bottom" *ngFor="let item of planList.textMarketing" [hidden]="item.id !== selectPlan.planSummary.textMarketing">
              <div class="col">
                <p class="font-16">Text Marketing</p>
                <span class="font-color font-12">{{ item.name }} Plan</span>
              </div>
              <div class="col-auto">
                <p class="font-weight-bold text-right font-16">{{ item.price | currency }}</p>
                <p class="font-12">Per {{ item.planType }}</p>
              </div>
            </div>-->
            <div class="row m-0 pt-3">
              <div class="col">
                <p class="font-16">Subtotal</p>
              </div>
              <div class="col-auto">
                <p class="font-weight-bold text-right font-16">{{ authb2bService.total | currency }}</p>
              </div>
            </div>
            <div class="row m-0 pt-3">
              <div class="col">
                <div class="form-group my-3">
                  <input type="text" id="promoCode" name="promoCode" [ngClass]="{ 'is-invalid': f.submitted && promoCode.invalid }" class="form-control" [(ngModel)]="promoCode" />
                  <label for="input" class="control-label">Have promo code?</label><i class="bar"></i>
                  <div class="form-text text-muted">
                    <div class="font-12">You get 50% off</div>
                  </div>
                  <div *ngIf="f.submitted && promoCode.invalid" class="invalid-feedback">
                    <!-- <div class="text-danger" *ngIf="promoCode.errors?.required">Business Name is required</div> -->
                  </div>
                </div>
              </div>
              <div class="col-auto p-0">
                <button type="button" class="btn btn-theme background-color shadow btn-sm mt-18px" (click)="calculateDiscount()">Apply</button>
              </div>
            </div>
            <div class="row m-0 ml-3 p-2 background-light-grey">
              <div class="col px-0">
                <p class="font-16">Total</p>
              </div>
              <div class="col-auto pr-0">
                <p class="font-weight-bold text-right font-16">{{ totalAmount | currency }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 text-center mt-3">
      <button type="submit" class="btn btn-theme background-color shadow w-auto" (click)="onPayment(f.form.invalid)">Pay Now</button>
    </div>
  </div>
</form>

<!-- thankYouModal modal -->
<div class="modal fade" id="thankYouModal">
  <div class="modal-dialog modal-dialog-centered modal-sm">
    <div class="modal-content border-radius border-0">
      <div class="modal-body">
        <div class="row pt-3">
          <div class="col-12 text-center mb-3"><img src="/assets/images/theme-admin/tick.svg" class="tick-img" alt="Tik Mark" /></div>
          <h3 class="col-10 text-center mx-auto font-color mb-2">Thankyou</h3>
          <h5 class="col-10 text-center mx-auto mb-3">Thanks for Registering on kyobee Lorem ipsum dolor sit amet.</h5>
          <div class="col-8 mx-auto">
            <div class="col-12 text-center modal-btn my-4">
              <button type="submit" class="btn btn-theme background-color shadow" (click)="hidePopUp()" [routerLink]="['/auth/login']">Continue</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- .thankYouModal Ends-->
