/*common color code*/
$white-color:#ffffff;
$black-color:#000000;
$grey-color:#9b9a9a;
$light-grey-color:#dfdfdf;

$body-font-color:#000000;

/* Font Style Variable*/
$font-weight-semibold:600;

/* Shadow to Container Box*/
$box-shadow: 0px 1px 18px 0px rgba(0, 0, 0, 0.1);
$border-radius:10px;

/* Sidebar Variable */
$sizebar-size:140px;
$sidebar-font-size: 10px;
$circle-width: 50px;

/*profile*/
$profile-img-size:100px;