<!-- Pre-logIn Start -->
<app-loader></app-loader>
<div *ngIf="!getUserLoggedIn()">
  <app-header></app-header>
  <router-outlet></router-outlet>
  <app-footer></app-footer>
</div>
<!-- Pre-logIn Ends -->

<!-- post login Starts -->
<div *ngIf="getUserLoggedIn()">
  <app-post-login-header></app-post-login-header>
  <section class="pb-5 fix-wrapper">
    <div id="wrapper" class="navbar-expand-lg navbar-expand-md">
      <router-outlet></router-outlet>
    </div>
  </section>
  <app-footer></app-footer>
</div>
<!-- post login Ends -->
