@import "variable";

.pass-link {
	position: absolute;
	right: 0;
	top: 5px;
}
#pic{display: none;}
.newbtn:hover .label-info {
  visibility: visible;
  opacity: 1;
}
#passwordChange{
	form{
		width: 100%
	}
}