@import 'variable';
.gender-label{color: #b3b3b3;}
.gender-field{position: relative;top: -12px;}
.captcha-size{
	transform:scale(0.77);-webkit-transform:scale(0.77);transform-origin:0 0;-webkit-transform-origin:0 0;
}