<section class="pb-5 fix-wrapper center-items fade-in signinPage" id="login">
  <section class="container pt-3">
    <form name="form" class="row guest-detail-update" #f="ngForm" (ngSubmit)="onFormSubmit(f)" novalidate>
      <div class="col-12 col-md-10 row p-0 mx-auto">
        <div class="col-12 col-sm font-color my-3 text-center">
          <h2>Now Serving</h2>
          <h1>#1</h1>
        </div>

        <div class="col-12 col-sm-auto p-0 grey my-3 text-center">
          <h2>(0)</h2>
          <h6>
            Parties <br class="d-none d-md-block" />
            Waiting
          </h6>
        </div>

        <div class="col-12 col-sm font-color my-3 text-center">
          <h2>Est. Wait Time</h2>
          <h1>01:39</h1>
        </div>
      </div>
      <div class="col-12 col-md-10 row my-3 mx-auto">
        <div class="col-12 col-md-4">
          <div class="form-group mt-0 mb-3">
            <input type="text" id="name" name="name" #name="ngModel" [ngClass]="{ 'is-invalid': f.submitted && name.invalid }" class="form-control" [(ngModel)]="guest.name" maxlength="50" required="required" />
            <label for="input" class="control-label">NAME</label><i class="bar"></i>
            <div *ngIf="f.submitted && name.invalid" class="invalid-feedback">
              <small class="text-danger" *ngIf="name.errors?.required">Name is required</small>
            </div>
          </div>
        </div>

        <div class="col-6 col-md-2">
          <div class="form-group mt-0 mb-3">
            <input type="text" id="adults" name="adults" #adults="ngModel" [ngClass]="{ 'is-invalid': f.submitted && adults.invalid }" class="form-control" [(ngModel)]="guest.noOfAdults" required="required" />
            <label for="input" class="control-label">ADULTS</label><i class="bar"></i>
            <div *ngIf="f.submitted && adults.invalid" class="invalid-feedback">
              <small class="text-danger" *ngIf="adults.errors?.required">Adults is required</small>
            </div>
          </div>
        </div>

        <div class="col-6 col-md-2">
          <div class="form-group mt-0 mb-3">
            <input type="text" id="children" name="children" #children="ngModel" [ngClass]="{ 'is-invalid': f.submitted && children.invalid }" class="form-control" [(ngModel)]="guest.noOfChildren" required="required" />
            <label for="input" class="control-label">CHILDREN</label><i class="bar"></i>
            <div *ngIf="f.submitted && children.invalid" class="invalid-feedback">
              <small class="text-danger" *ngIf="children.errors?.required">children is required</small>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-4">
          <div class="form-group mt-0 mb-3">
            <input
              type="text"
              id="contactNumber"
              name="contactNumber"
              #contactNumber="ngModel"
              pattern="^(\+\d{2,4})?\s?(\d{10})$"
              [ngClass]="{ 'is-invalid': f.submitted && contactNumber.invalid }"
              class="form-control"
              [(ngModel)]="guest.sms"
              required="required"
            />
            <label for="input" class="control-label">CONTACT NUMBER</label><i class="bar"></i>
            <div *ngIf="f.submitted && contactNumber.invalid" class="invalid-feedback">
              <small class="text-danger" *ngIf="contactNumber.errors?.required">Contact Number is required</small>
              <small class="text-danger" *ngIf="contactNumber.errors?.pattern">Contact Number should be in proper form</small>
            </div>
          </div>
        </div>
        <div class="col-12 row m-0">
          <label class="col-12 font-weight-bold font-16 px-0">Seating Preferance</label>
          <div class="col-12 col-sm-auto pl-0">
            <input class="styled-checkbox" id="Preferance1" type="checkbox" />
            <label for="Preferance1">Preferance 1</label>
          </div>
          <div class="col-12 col-sm-auto">
            <input class="styled-checkbox" id="Preferance2" type="checkbox" />
            <label for="Preferance2">Preferance 2</label>
          </div>
          <div class="col-12 col-sm-auto">
            <input class="styled-checkbox" id="Preferance3" type="checkbox" />
            <label for="Preferance3">Preferance 3</label>
          </div>
          <div class="col-12 col-sm-auto">
            <input class="styled-checkbox" id="Preferance4" type="checkbox" />
            <label for="Preferance4">Preferance 4</label>
          </div>
        </div>

        <div class="col-12 row m-0 my-3">
          <label class="col-12 font-weight-bold font-16 px-0">Marketing Preferance</label>
          <div class="col-12 col-sm-6 col-lg-3 social-icon">
            <input class="styled-checkbox" id="facebook" type="checkbox" />
            <label for="facebook"></label>
            <label class="label" for="facebook"> Facebook </label>
            <i class="background"></i>
            <i class="flaticon-settings icon"></i>
          </div>
          <div class="col-12 col-sm-6 col-lg-3 social-icon">
            <input class="styled-checkbox" id="google" type="checkbox" />
            <label for="google"></label>
            <label class="label" for="google"> Google + </label>
            <i class="background"></i>
            <i class="flaticon-settings icon"></i>
          </div>
          <div class="col-12 col-sm-6 col-lg-3 social-icon">
            <input class="styled-checkbox" id="instagram" type="checkbox" />
            <label for="instagram"></label>
            <label class="label" for="facebook"> Instagram </label>
            <i class="background"></i>
            <i class="flaticon-settings icon"></i>
          </div>
          <div class="col-12 col-sm-6 col-lg-3 social-icon">
            <input class="styled-checkbox" id="wordOfMouthh" type="checkbox" />
            <label for="wordOfMouthh"></label>
            <label class="label" for="wordOfMouthh"> Word of Mouth </label>
            <i class="background"></i>
            <i class="flaticon-settings icon"></i>
          </div>
        </div>

        <div class="col-12">
          <div class="mt-0 mb-4">
            <input class="styled-checkbox" id="promotion" type="checkbox" />
            <label for="promotion">Opt-in for special Promotions and loyalty program.</label>
          </div>
        </div>

        <div class="col-lg-12 row text-center m-0 p-0 pb-3">
          <div class="col-6">
            <button type="button" class="btn btn-theme background-color w-100 shadow">Remove From Waitlist</button>
          </div>
          <div class="col-6">
            <button type="submit" class="btn btn-theme background-color w-100 shadow">Save Changes</button>
          </div>
        </div>
      </div>
    </form>
  </section>
</section>
