<section class="pb-5 fix-wrapper center-items fade-in signinPage" id="login">
  <div *ngIf="guest === undefined || guest === null" class="container pt-3">
    <div class="alert alert-danger text-center p-3">
      <h3>{{ errorMessage }}</h3>
    </div>
  </div>
  <section *ngIf="languageKeyMap && userMetrics" class="container pt-3">
    <form name="form" class="row guest-detail-update" #f="ngForm" novalidate>
      <div class="col-12 col-md-10 row p-0 mx-auto">
        <div class="col-12 col-sm font-color my-3 text-center">
          <small class="text-danger" style="text-align: center;">
            {{ errorMessage }}
          </small>
          <h2>{{ languageKeyMap['now_serving'] }}</h2>
          <h1>#{{ userMetrics['guestRank'] }}</h1>
        </div>

        <div class="col-12 col-sm-auto p-0 grey my-3 text-center">
          <h2>({{ userMetrics['guestAheadCount'] }})</h2>
          <h6>{{ languageKeyMap['parties_waiting'] }} <br class="d-none d-md-block" /></h6>
        </div>

        <div class="col-12 col-sm font-color my-3 text-center">
          <h2>{{ languageKeyMap['est_wait_time'] }}</h2>
          <h1>{{ convertMinstoMMHH(userMetrics['totalWaitTime']) }}</h1>
        </div>
      </div>
      <div class="col-12 col-md-10 row my-3 mx-auto">
        <div class="col-12 col-md-4">
          <div class="form-group mt-0 mb-3">
            <input type="text" id="name" name="name" ng-pattern="[A-Za-z0-9 ]*" #gname="ngModel" [ngClass]="{ 'is-invalid': f.submitted && gname.invalid }" class="form-control" [(ngModel)]="guest.name" maxlength="50" required="required" />
            <label for="input" class="control-label">{{ languageKeyMap['name'] }}</label
            ><i class="bar"></i>
            <div *ngIf="f.submitted && gname.invalid" class="invalid-feedback">
              <small class="text-danger" *ngIf="gname.errors?.required">{{ languageKeyMap['name_can_not_be_blank'] }}</small>
              <small class="text-danger" *ngIf="gname.errors?.maxlength">{{ languageKeyMap['maximum_characters_limit_reached'] }}</small>
              <small class="text-danger" *ngIf="gname.errors?.pattern">{{ languageKeyMap['enter_name_error'] }}</small>
            </div>
          </div>
        </div>

        <div class="col-6 col-md-2">
          <div class="form-group mt-0 mb-3">
            <input
              type="number"
              id="adults"
              name="adults"
              min="1"
              max="100"
              appCustomMax="100"
              appCustomMin="1"
              pattern="[0-9]*"
              #adults="ngModel"
              [ngClass]="{ 'is-invalid': f.submitted && adults.invalid }"
              class="form-control"
              [(ngModel)]="guest.noOfAdults"
              required="required"
            />
            <label for="input" class="control-label">{{ languageKeyMap['adults'] }}</label
            ><i class="bar"></i>
            <div *ngIf="f.submitted && adults.invalid" class="invalid-feedback">
              <small class="text-danger" *ngIf="adults.errors?.pattern">{{ languageKeyMap['valid_num_error'] }}</small>
              <small class="text-danger" *ngIf="adults.errors?.number">{{ languageKeyMap['valid_num_error'] }}</small>
              <small class="text-danger" *ngIf="adults.errors?.required">{{ languageKeyMap['please_enter_values_for_adults'] }}</small>
              <small class="text-danger" *ngIf="adults.errors?.appCustomMin">{{ languageKeyMap['valid_num_error'] }}</small>
              <small class="text-danger" *ngIf="adults.errors?.appCustomMax">{{ languageKeyMap['maximum_limit_reached'] }}</small>
            </div>
          </div>
        </div>
        <div class="col-6 col-md-2">
          <div class="form-group mt-0 mb-3">
            <input
              type="number"
              id="children"
              name="children"
              min="0"
              max="99"
              appCustomMax="99"
              appCustomMin="0"
              pattern="[0-9]*"
              #children="ngModel"
              [ngClass]="{ 'is-invalid': f.submitted && children.invalid }"
              class="form-control"
              [(ngModel)]="guest.noOfChildren"
            />
            <label for="input" class="control-label">{{ languageKeyMap['children'] }}</label
            ><i class="bar"></i>
            <div *ngIf="f.submitted && children.invalid" class="invalid-feedback">
              <small class="text-danger" *ngIf="children.errors?.pattern">{{ languageKeyMap['valid_num_error'] }}</small>
              <small class="text-danger" *ngIf="children.errors?.number">{{ languageKeyMap['valid_num_error'] }}</small>
              <small class="text-danger" *ngIf="children.errors?.required">{{ languageKeyMap['please_enter_values_for_adults'] }}</small>
              <small class="text-danger" *ngIf="children.errors?.appCustomMin">{{ languageKeyMap['valid_num_error'] }}</small>
              <small class="text-danger" *ngIf="children.errors?.appCustomMax">{{ languageKeyMap['maximum_limit_reached'] }}</small>
            </div>
          </div>
        </div>
        <!--    <div class="col-lg-6" >
          <div class="form-group mt-0 mb-3">
            <input
              type="number"
              name="people"
              min="1"
              [max]="user.maxParty"
              appCustomMax="user.maxParty"
              appCustomMin="1"
              pattern="[0-9]*"
              class="form-control"
              #people="ngModel"
              id="people"
              [(ngModel)]="guest.noOfPeople"
              [ngClass]="{ 'is-invalid': f.submitted && people.invalid }"
              required="required"
            />
            <label for="people" class="control-label">{{ languageKeyMap['people'] }}</label>
            <i class="bar"></i>
            <div *ngIf="f.submitted && people.invalid" class="invalid-feedback">
              <div class="text-danger" *ngIf="people.errors?.pattern">{{ languageKeyMap['valid_num_error'] }}</div>
              <div class="text-danger" *ngIf="people.errors?.number">{{ languageKeyMap['valid_num_error'] }}</div>
              <div class="text-danger" *ngIf="people.errors?.required">{{ languageKeyMap['no_of_people_cannot_be_blank'] }}</div>
              <div class="text-danger" *ngIf="people.errors?.appCustomMin">{{ languageKeyMap['valid_num_error'] }}</div>
              <div class="text-danger" *ngIf="people.errors?.appCustomMax">{{ languageKeyMap['maximum_limit_reached'] }}</div>
            </div>
          </div>
        </div> -->
        <div class="col-12 col-md-4">
          <div class="form-group mt-0 mb-3">
            <input
              type="text"
              id="contactNumber"
              name="contactNumber"
              #contactNumber="ngModel"
              pattern="^(\+\d{2,4})?\s?(\d{10})$"
              [ngClass]="{ 'is-invalid': f.submitted && contactNumber.invalid }"
              class="form-control"
              [(ngModel)]="guest.contactNo"
              required="required"
            />
            <label for="input" class="control-label">{{ languageKeyMap['contact_number'] }}</label
            ><i class="bar"></i>
            <div *ngIf="f.submitted && contactNumber.invalid" class="invalid-feedback">
              <small class="text-danger" *ngIf="contactNumber.errors?.required">{{ languageKeyMap['valid_num_error'] }}</small>
              <small class="text-danger" *ngIf="contactNumber.errors?.pattern">{{ languageKeyMap['valid_num_error'] }}</small>
            </div>
          </div>
        </div>
        <div *ngIf="listSeatingPref != null" class="col-12 row m-0">
          <label *ngIf="listSeatingPref.length != 0" class="col-12 font-weight-bold font-16 px-0">{{ languageKeyMap['seating_preference'] }}</label>
          <div class="col-12 col-sm-auto pl-0" *ngFor="let seating of listSeatingPref; index as i">
            <input class="styled-checkbox" id="Preferance{{ i }}" type="checkbox" [(ngModel)]="seating.selected" [ngModelOptions]="{ standalone: true }" />
            <label for="Preferance{{ i }}">{{ seating.prefValue }}</label>
          </div>
        </div>

        <div *ngIf="listMarketingPref != null" class="col-12 row m-0 my-3">
          <label *ngIf="listMarketingPref.length != 0" class="col-12 font-weight-bold font-16 px-0">{{ languageKeyMap['how_did_you_here_about_us'] }}</label>
          <div class="col-12 col-sm-6 col-lg-3 social-icon" *ngFor="let marketing of listMarketingPref; index as i">
            <input class="styled-checkbox" id="marketingPref{{ i }}" type="checkbox" [(ngModel)]="marketing.selected" [ngModelOptions]="{ standalone: true }" />
            <label for="marketingPref{{ i }}"></label>
            <label class="label" for="marketingPref{{ i }}"> {{ marketing.prefValue }} </label>
            <i class="background"></i>
            <i class="fi flaticon-settings font-22 icon"></i>
          </div>
        </div>

        <div class="col-12">
          <div class="mt-0 mb-4">
            <input class="styled-checkbox" id="promotion" type="checkbox" [checked]="guest.optin == 0" />
            <label for="promotion">{{ languageKeyMap['opt_in_receive'] }}</label>
          </div>
        </div>

        <div class="col-lg-12 row text-center m-0 p-0 pb-3">
          <div class="col-6">
            <button type="button" class="btn btn-theme background-color w-100 shadow" (click)="showDeleteModal()">{{ languageKeyMap['rmv_waitlist'] }}</button>
          </div>
          <div class="col-6">
            <button type="submit" class="btn btn-theme background-color w-100 shadow" (click)="onSubmit(f.invalid)">{{ languageKeyMap['update_guest'] }}</button>
          </div>
        </div>
      </div>
    </form>
  </section>
</section>

<!-- deleteModal modal -->
<div class="modal fade" id="deleteModal">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content border-radius border-0">
      <div class="custom-modal-header background-color">
        <span class="modal-title text-white">Delete</span>
        <button type="button" class="close text-white" (click)="removeSelected()" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body text-center">
        <h4>Are you sure you want to delete?</h4>
        <div class="row pt-3">
          <!-- <div class="col-lg-6 col-md-6 col-sm-12 text-right modal-btn my-2">
              <button type="button" class="btn btn-theme background-color shadow">cancel</button>
            </div> -->
          <div class="col-lg-12 col-md-12 col-sm-12 text-center modal-btn my-2">
            <button type="button" class="btn btn-theme background-color shadow" (click)="hideDeletePopup()">Yes</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- .deleteModal Ends-->
