<section class="pb-5 fix-wrapper center-items fade-in" id="login">
  <section class="custom-container pt-3">
    <div class="row">
      <div class="col-12">
        <h2 class="text-center font-weight-semibold">Reset Password</h2>
        <p class="text-center pb-2">Reset your account password</p>
      </div>
      <div class="col-lg-6 col-md-12 col-sm-12 py-2">
        <img src="assets/images/reset-pass-illu.png" class="img-fluid m-md-auto d-md-block" alt="image" />
      </div>
      <div class="col-lg-6 col-md-12 col-sm-12 py-4 pb-md-0 d-flex justyfy-content-center align-item-center">
        <div class="container-box float-lg-right float-md-none m-md-auto">
          <form (ngSubmit)="(resetForm.form.valid)" #resetForm="ngForm" novalidate>
            <div class="form-group mt-0">
              <input
                type="password"
                id="newPwd"
                name="newPwd"
                pattern="^(?=.*?[A-Z])(?=.*?[#?!@$%^&*-]).{8,12}$"
                [ngClass]="{ 'is-invalid': resetForm.submitted && newPwd.invalid }"
                class="form-control"
                [(ngModel)]="newPassword"
                #newPwd="ngModel"
                required="required"
              />

              <label for="input" class="control-label">New Password</label>
              <i class="bar"></i>
              <div *ngIf="resetForm.submitted && newPwd.invalid" class="invalid-feedback">
                <div class="text-danger" *ngIf="newPwd.errors?.required">Password is required</div>
                <div class="text-danger" *ngIf="newPwd.errors?.pattern">Password should be proper</div>
              </div>
              <span class="password-tooltip" id="showWeb" data-toggle="tooltip" data-placement="right" tooltip-title="Password should contain one upercase, one special character and length should be between 8-12."
                ><i class="fi flaticon-info-button font-14 grey"></i
              ></span>
              <span class="password-tooltip" id="showResponsive" data-toggle="tooltip" data-placement="left" tooltip-title="Password should contain one upercase, one special character and length should be between 8-12."
                ><i class="fi flaticon-info-button font-14 grey"></i
              ></span>
            </div>
            <div class="form-group">
              <input
                type="password"
                id="confirmPassword"
                name="confirmPassword"
                appConfirmEqualValidator="newPwd"
                [ngClass]="{ 'is-invalid': resetForm.submitted && confirmPassword.invalid }"
                class="form-control"
                [(ngModel)]="confirmPwd"
                #confirmPassword="ngModel"
                required="required"
              />

              <label for="input" class="control-label">Re-type New Password</label>
              <i class="bar"></i>
              <div *ngIf="resetForm.submitted && confirmPassword.invalid" class="invalid-feedback">
                <div class="text-danger" *ngIf="confirmPassword.errors?.required">Password is required</div>
                <div class="text-danger" *ngIf="confirmPassword.errors?.notEqual">Password does not match</div>
              </div>
            </div>
            <div class="col-ld-12 text-center pt-3 pb-4">
              <button type="submit" (click)="changePwd(resetForm.invalid)" class="btn btn-theme background-color shadow"><span>Reset Password</span></button>
            </div>
          </form>
        </div>
      </div>
      <div class="col-lg-6 col-md-12 col-sm-12 py-4 pb-md-0" *ngIf="!validUrl">
        <div class="container-box float-lg-right float-md-none m-md-auto mt-lg-4 text-center">
          <h3 class="grey mb-4">RESET PASSWORD</h3>
          <p class="font-weight-semibold">Invalid URL. Verification failure. Please check the url again or contact support.</p>
        </div>
      </div>
    </div>
  </section>
</section>
