<section class="pb-5 fix-wrapper fade-in">
  <div class="container w-75">
    <div class="row">
      <div class="col-12 pt-3">
        <h2 class="text-center font-weight-semibold">Plans & Pricing</h2>
        <p class="text-center pb-3">Select the plan as per your requirement</p>
      </div>
    </div>
    <div class="nav-center d-flex justify-content-center mt-1">
      <ul class="nav nav-pills rounded-right rounded-left" role="tablist">
        <li class="nav-item">
          <a class="rounded-left nav-link px-4 px-md-5 font-weight-bold active" data-toggle="pill"
            href="#monthly">Monthly</a>
        </li>
        <li class="nav-item">
          <a class="nav-link px-4 px-md-5 font-weight-bold rounded-right" data-toggle="pill"
            href="#annually">Annually</a>
        </li>
      </ul>
    </div>
    <div class="tab-content my-4">
      <div id="monthly" class="container tab-pane active"><br>
        <div class="row">
          <div class="col-lg-3 col-md-6 text-center pricing-box">
            <p class="font-weight-bold">Free</p>
            <h1 class="font-weight-semibold">$00.00</h1>
            <p class="font-weight-semibold">Per Month</p>
            <p class="border-red pt-3"></p>
            <p class="pt-3 line-height-2">Security</p>
            <p class="line-height-2">TV/OS Display</p>
            <p class="line-height-2">Self Check-ins</p>
            <p class="line-height-2">Guest Real-time Status</p>
            <p>Branding/ Multiple Language Support/ Custom Text Message</p>
            <button type="button" class="btn btn-grey-theme margin-top-80" (click)="onSelectPlan('plan1');">
              Free trial for 7 days*</button>
          </div>
          <div class="col-lg-3 col-md-6 text-center pricing-box">
            <p class="font-weight-bold">Basic</p>
            <h1 class="font-weight-semibold">$19.99</h1>
            <p class="font-weight-semibold">Per Month</p>
            <p class="border-blue pt-3"></p>
            <p class="pt-3 line-height-2">Security</p>
            <p class="line-height-2">TV/OS Display</p>
            <p class="line-height-2">Self Check-ins</p>
            <p class="line-height-2">Guest Real-time Status</p>
            <p>Branding/ Multiple Language Support/ Custom Text Message</p>
            <button type="button" class="btn btn-grey-theme margin-top-80"
            (click)="onSelectPlan('plan2');" >Free trial for 7 days*</button>
          </div>
          <div class="col-lg-3 col-md-6 text-center pricing-box">
            <div class="ribbon"><span>Recommended</span></div>
            <p class="font-weight-bold">Silver</p>
            <h1 class="font-weight-semibold">$34.99</h1>
            <p class="font-weight-semibold">Per Month</p>
            <p class="border-green pt-3"></p>
            <p class="pt-3 line-height-2">Security</p>
            <p class="line-height-2">TV/OS Display</p>
            <p class="line-height-2">Self Check-ins</p>
            <p class="line-height-2">Guest Real-time Status</p>
            <p>Branding/ Multiple Language Support/ Custom Text Message</p>
            <p class="line-height-2">SMS/ QR Code</p>
            <p class="line-height-2">Pay as you go 0.005 USD/text</p>
            <button type="button" class="btn btn-grey-theme mt-4" (click)="onSelectPlan('plan3');" >Free
              trial for 7 days*</button>
          </div>
          <div class="col-lg-3 col-md-6 text-center pricing-box">
            <p class="font-weight-bold">Gold</p>
            <h1 class="font-weight-semibold">$79.99</h1>
            <p class="font-weight-semibold">Per Month</p>
            <p class="border-yellow pt-3"></p>
            <p class="pt-3 line-height-2">Security</p>
            <p class="line-height-2">TV/OS Display</p>
            <p class="line-height-2">Self Check-ins</p>
            <p class="line-height-2">Guest Real-time Status</p>
            <p>Branding/ Multiple Language Support/ Custom Text Message</p>
            <p class="line-height-2">SMS/ QR Code</p>
            <p class="line-height-2">10000 Outgoing Text/month</p>
            <button type="button" class="btn btn-grey-theme mt-4" (click)="onSelectPlan('plan4');">Free
              trial for 7 days*</button>
          </div>
        </div>
      </div>
      <div id="annually" class="container tab-pane fade"><br>
        <div class="row">
          <div class="col-lg-3 col-md-6 text-center pricing-box">
            <p class="font-weight-bold">Free</p>
            <h1 class="font-weight-semibold">$00.00</h1>
            <p class="font-weight-semibold">Per Month</p>
            <p class="border-red pt-3"></p>
            <p class="pt-3 line-height-2">Security</p>
            <p class="line-height-2">TV/OS Display</p>
            <p class="line-height-2">Self Check-ins</p>
            <p class="line-height-2">Guest Real-time Status</p>
            <p>Branding/ Multiple Language Support/ Custom Text Message</p>
            <button type="button" class="btn btn-grey-theme margin-top-80"
            (click)="onSelectPlan('plan5');">Free trial for 7 days*</button>
          </div>
          <div class="col-lg-3 col-md-6 text-center pricing-box">
            <p class="font-weight-bold">Basic</p>
            <h1 class="font-weight-semibold">$19.99</h1>
            <p class="font-weight-semibold">Per Month</p>
            <p class="border-blue pt-3"></p>
            <p class="pt-3 line-height-2">Security</p>
            <p class="line-height-2">TV/OS Display</p>
            <p class="line-height-2">Self Check-ins</p>
            <p class="line-height-2">Guest Real-time Status</p>
            <p>Branding/ Multiple Language Support/ Custom Text Message</p>
            <button type="button" class="btn btn-grey-theme margin-top-80"
            (click)="onSelectPlan('plan6');">Free trial for 7 days*</button>
          </div>
          <div class="col-lg-3 col-md-6 text-center pricing-box">
            <div class="ribbon"><span>Recommended</span></div>
            <p class="font-weight-bold">Silver</p>
            <h1 class="font-weight-semibold">$34.99</h1>
            <p class="font-weight-semibold">Per Month</p>
            <p class="border-green pt-3"></p>
            <p class="pt-3 line-height-2">Security</p>
            <p class="line-height-2">TV/OS Display</p>
            <p class="line-height-2">Self Check-ins</p>
            <p class="line-height-2">Guest Real-time Status</p>
            <p>Branding/ Multiple Language Support/ Custom Text Message</p>
            <p class="line-height-2">SMS/ QR Code</p>
            <p class="line-height-2">Pay as you go 0.005 USD/text</p>
            <button type="button" class="btn btn-grey-theme mt-4" (click)="onSelectPlan('plan7');">Free
              trial for 7 days*</button>
          </div>
          <div class="col-lg-3 col-md-6 text-center pricing-box">
            <p class="font-weight-bold">Gold</p>
            <h1 class="font-weight-semibold">$79.99</h1>
            <p class="font-weight-semibold">Per Month</p>
            <p class="border-yellow pt-3"></p>
            <p class="pt-3 line-height-2">Security</p>
            <p class="line-height-2">TV/OS Display</p>
            <p class="line-height-2">Self Check-ins</p>
            <p class="line-height-2">Guest Real-time Status</p>
            <p>Branding/ Multiple Language Support/ Custom Text Message</p>
            <p class="line-height-2">SMS/ QR Code</p>
            <p class="line-height-2">10000 Outgoing Text/month</p>
            <button type="button" class="btn btn-grey-theme mt-4" (click)="onSelectPlan('plan8');">Free
              trial for 7 days*</button>
          </div>
        </div>
      </div>
    </div>
    <div class="text-md-left text-center mb-3">
      <p class="font-12">No credit card required*</p>
      <p class="font-12">Get free 100 SMS in 7 days trial*</p>
    </div>
    <div class="text-center pb-5 pb-md-0">
      <p>Already have an account? <a routerLink="/public/login" class="font-color font-weight-semibold">Sign In</a></p>
    </div>
  </div>
</section>