
<!----------Waitlist-Section-------->


<section class="waitlist-wrap">
    
       <!-- <div class="header-waitlist theme-color">
            
             <div class="container-fluid">
                 

                <div class="content-xs">

                    <div class="kw-dav-1">
                        <img src="assets/img/kyobeelogo.png"><h1>Waitlist</h1>        
                        <ul>
                            <li><a href="">Waitlist</a></li>
                            <li><a href="">Account</a></li>
                            <li><a href="">Help</a></li>
                        </ul>
                    </div>

                    <div class="kw-dav-2">
                        <span><p>Hello Kula |</p> <a href=""> Logout</a> </span>
                        <ul>
                            <li><a href=""><i class="fa fa-clock-o" aria-hidden="true"></i></a></li>
                            <li><a href=""><i class="fa fa-search" aria-hidden="true"></i></a></li>
                            <li><a href=""><i class="fa fa-user-plus" aria-hidden="true"></i></a></li>
                            <li><a href=""><img src="assets/img/clock.png"></a> </li>
                            <li><a href=""><img src="assets/img/search.png"></a> </li>
                            <li><a href=""><img src="assets/img/userpluse.png"></a> </li>
                        </ul>
                    </div>

                </div>
                      
             </div>
        
        </div>
    
        
        <a href="javascript:void(0)" class="headersh"><i class="fa fa-bars" aria-hidden="true"></i></a>-->
    

    
    <div class="container"> 
        <div class="col-md-10 marginauto">
        	
        	<div ng-show="guest == null" style="height:80%" class="guest_list_wrap content-sm row">
        	<!-- <div  style="height:80%" class="guest_list_wrap content-sm row"> -->
        		<h4>The requested guest doesn't exist anymore.</h4>
        	</div>
        	
            <div ng-show="guest != null" class="guest_list_wrap content-sm row">
			<!-- <div class="guest_list_wrap content-sm row"> -->
                <div class="fontpopup section">

                    <div class="row">
                        
                      <div id="waitlist-box">
                          
                          <div class="col-md-5 text-center fontsize1 theme-fontcolor">
                            <h2>Now Serving</h2>
                            <h3>#{{guestRankMin}}</h3>
                          </div>
                          <div class="col-md-2 text-center fontsize1 graycolor no-padding">
                            <h2>( {{guestAheadCount}} )</h2>
                            <p class="fontpsize">Parties Waiting</p>
                          </div>
                          <div class="col-md-5 text-center fontsize1 theme-fontcolor">
                            <h2>Est. Wait Time</h2>
                            <h3>{{convertMinstoMMHH(totalWaitTime)}}</h3>
                          </div>
                        
                      </div>
                    </div>
                </div>
                
                <div class="fontpopup1">
                    <form class="guest_check well-guest">
                        
                        <div class="col-md-12 row">

                            <div class="form-group col-md-6">
                            <label class="control-label"></label>
                            <input type="text" name="field1" class="form-control" ng-model="guest.name"/>
                            </div>

							<div class="form-group col-md-6" >
							   <label class="control-label"></label>
			                    <select name="partyOf" class="form-control" ng-model="guest.noOfPeople">
			                        <option value="" ng-selected="null == guest.noOfPeople">Party of:</option>
			                        <option value="1" ng-selected="1 == guest.noOfPeople">Party 1</option>
			                        <option value="2" ng-selected="2 == guest.noOfPeople">Party 2</option>
			                        <option value="3" ng-selected="3 == guest.noOfPeople">Party 3</option>
			                        <option value="4" ng-selected="4 == guest.noOfPeople">Party 4</option>
			                        <option value="5" ng-selected="5 == guest.noOfPeople">Party 5</option>
			                        <option value="6" ng-selected="6 == guest.noOfPeople">Party 6</option>
			                        <option value="7" ng-selected="7 == guest.noOfPeople">Party 7</option>
			                        <option value="8" ng-selected="8 == guest.noOfPeople">Party 9</option>
			                        <option value="9" ng-selected="9 == guest.noOfPeople">Party 9</option>
			                        <option value="10" ng-selected="10 == guest.noOfPeople">Party 10</option>
			                    </select>
			                </div>
                  

                            <!-- <div class="form-group col-md-6">
                            <label class="control-label"></label>
                            <input type="text" name="field1" class="form-control" ng-model="guest.noOfPeople" />
                            
                            </div> -->


                            <div class="form-group addf5 col-md-6"> 
                                <div class="radio radio-danger">
                                    <input type="radio" name="radio1" onchange="showsms1();" id="smsshow1" ng-model="guest.prefType" value="sms" >
                                    <label for="smsshow1">SMS</label>
                                </div>
                                <div class="radio radio-danger">
                                    <input type="radio" name="radio1" onchange="showemail1();" id="emailshow1" ng-model="guest.prefType" value="email">
                                    <label for="emailshow1">E-Mail</label>
                                </div>
                                 <div class="addf3input">
                                     <div id="smshide1">
                                        <input type="number" name="field2" ng-model="guest.sms" placeholder="(___) ___-____ *" class="form-control" />
                                    </div>
                                     <div id="emailhide1">
                                        <input type="text" name="field2" ng-model="guest.email" placeholder="abc@gmail.com" class="form-control" />
                                    </div>
                                </div>
                            </div>


                            <div class="form-group col-md-6 multipaleselect1 font-color-fix">
                                    <label class="control-label">Seating Preference</label>
                                    <select id="example-multiple-selected" multiple="multiple" ng-model="selectedSeatPref">
                                    	<option ng-repeat="opt in seatPrefs" ng-value="opt.prefValueId">{{opt.prefValue}}</option>
                                    </select>
                            </div>
                    </div>

                    <div class="form-group col-md-12 font-color-fix">

                        <div class="checkbox radio-danger">
                            <input type="checkbox" name="radio1" id="optionin" ng-model='guest.optin'>
                            <label for="optionin">(Opt-in to receive promotions/special)</label>
                        </div>

                    </div>

                    <div class="col-md-12">

                        <div class="form-group text-center col-md-6 col-xs-12 no-padding">
                          <button type="button" class="btn btn-rfw theme-color" ng-click="showDeletePopup();">Remove From Waitlist</button>
                        </div>

                        <div class="form-group text-center col-md-6 col-xs-12 no-padding">
                          <button type="button" class="btn btn-rfw theme-color" ng-click="updateGuest();">SAVE CHANGES</button>
                        </div>
                    </div>
                          
                    </form>
                </div>
                   
            </div><!-- #guest_list_wrap -->
        </div>
    </div>        
    
    
    <div class="theme-color footer-wrap">
        <div class="container" id="footer-logo">
            <div class="content-xs col-md-6 col-xs-12">
            
                <img ng-src="{{logoImgSrc}}"><h1>Waitlist</h1>
                
            </div>
        
        
            <div class="col-md-6 col-xs-12">
            
                <p class="">Copyright KYOBEE. All Rights Reserved - Version 2.2</p>
                
            </div>
        </div>
    
    </div>


</section>

<div id="deletePopup" class="simplePopup border-color">
    <div class="confirm-table-wrap text-center">
          <h2 class="theme-fontcolor">Confirm Delete Guest</h2>
          <div class="guest-name">
              <h1>{{guest.rank}}</h1>
              <h1>{{guest.name}}</h1>
          </div>
          <div class="btn-guest border-top">
              <button type="button" class="btn btn-orange theme-color" ng-click="deleteGuest();">DELETE</button>
              <button type="button" class="btn btn-orange theme-color" ng-click="cancelDelete();">CANCEL</button>
          </div>
    </div>
 </div>
    
    
<!----------End Waitlist-Section-------->        
     
<script type="text/javascript">

function showsms1(){
    $('#smshide1').show();
    $('#emailhide1').hide();
}
    
function showemail1(){
    $('#emailhide1').show();
    $('#smshide1').hide();
    
}       

</script>  
