
@font-face {
  font-family: 'SanFranciscoDisplay-Regular';
  src: url('../fonts/SanFranciscoDisplay-Regular.woff') format('woff'),
       url('../fonts/SanFranciscoDisplay-Regular.ttf') format('truetype'),
       url('../fonts/../fonts/SanFranciscoDisplay-Regular.svg#SanFranciscoDisplay-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'sanfranciscodisplay-regular-webfont';
  src: url('../fonts/sanfranciscodisplay-regular-webfont.eot');
  src: url('../fonts/sanfranciscodisplay-regular-webfont.woff2') format('woff2'),
       url('../fonts/sanfranciscodisplay-regular-webfont.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}



