<div class="pb-5">
		<div id="wrapper" class="navbar-expand-lg navbar-expand-md">
			<div id="sidebar-wrapper" class="collapse navbar-collapse sidehide">
				<button class="navbar-toggler float-right asidebar" type="button" data-toggle="collapse" data-target="#sidebar-wrapper" aria-controls="sidebar-wrapper" aria-expanded="false" aria-label="Toggle navigation">
					<span class="flaticon-close"></span>
				</button>
				<aside id="sidebar">
					<ul id="sidemenu" class="sidebar-nav text-center pt-2">
						<li class="border-bottom active">
							<a href="profile.html">
								<div class="icon-border-right">
									<div class="icon-circle">
										<i class="flaticon-avatar"></i>
									</div>
								</div>
								<span class="font-12 font-weight-semibold">Organization Profile</span>
							</a>
						</li>
						<li class="border-bottom">
							<a href="plan-detail.html">
								<div class="icon-border-right">
									<div class="icon-circle">
										<i class="flaticon-list-1 grey"></i>
									</div>
								</div>
								<span class="font-12 font-weight-semibold">Plans & Payment</span>
							</a>
						</li>
						<li class="border-bottom" style="visibility: hidden;">
							<a href="" data-toggle="modal" data-target="#resetModal">
								<div class="icon-border-right">
									<div class="icon-circle">
										<i class="flaticon-reload grey"></i>
									</div>
								</div>
								<span class="font-12 font-weight-semibold">Don't Show</span>
							</a>
						</li>
					</ul>
				</aside>
			</div>

			<main id="page-content-wrapper" role="main">
				<section class="container pt-3">
					<div class="row">
						<div class="col-lg-12">
							<form>
								<div class="row p-3">
									<div class="col-lg-12 mb-4">
										<div class="text-center">
											<label class=newbtn>
												<img src="assets/images/user.png" class="img-fluid">
												<input id="pic" type="file">
												<p class="label-info">Upload Profile</p>
												<p class="label-info" style="display: none;">Change Image</p>
											</label>
										</div>
									</div>
									<div class="col-lg-6">
										<div class="form-group mt-0">
											<input type="text" required="required">
											<label for="input" class="control-label">First Name</label><i class="bar"></i>
										</div>
									</div>
									<div class="col-lg-6">
										<div class="form-group mt-0">
											<input type="text" required="required">
											<label for="input" class="control-label">Last Name</label><i class="bar"></i>
										</div>
									</div>
									<div class="col-lg-6">
										<div class="form-group mt-0">
											<input type="text" required="required"/>
											<label for="input" class="control-label">User Name</label><i class="bar"></i>
										</div>
									</div>
									<div class="col-lg-6">
										<div class="form-group mt-0">
											<input type="email" required="required"/>
											<label for="input" class="control-label">Email</label><i class="bar"></i>
										</div>
									</div>
									<div class="col-lg-6">
										<div class="form-group mt-0">
											<input type="text" required="required"/>
											<label for="input" class="control-label">Store Name</label><i class="bar"></i>
										</div>
									</div>
									<div class="col-lg-6">
										<div class="form-group mt-0">
											<input type="text" id="phone" required="required"/>
											<label for="input" class="control-label">Mobile No</label><i class="bar"></i>
										</div>
									</div>
									<div class="col-lg-12">
										<div class="form-group mt-0">
											<input type="text" required="required"/>
											<label for="input" class="control-label">Address</label><i class="bar"></i>
										</div>
									</div>
									<div class="col-lg-6">
										<div class="form-group mt-0">
											<input type="password" required="required"/>
											<label for="input" class="control-label">Password</label><i class="bar"></i>
											<a href="" class="font-color pass-link font-weight-semibold" data-toggle="modal" data-target="#passwordChange" >Change Password</a>
										</div>
									</div> 

									<div class="col-lg-12 text-center">
										<button type="button" class="btn btn-theme background-color shadow"><span>Save</span></button>
									</div>
								</div>
							</form>
						</div>
					</div>
					<!-- password modal -->
					<div class="modal fade" id="passwordChange">
						<div class="modal-dialog">
							<form>
								<div class="modal-content border-radius border-0">
									<div class="custom-modal-header background-color">
										<span class="modal-title text-white">Change Password</span>
										<button type="button" class="close text-white" data-dismiss="modal">&times;</button>
									</div>
									<div class="modal-body">
										<div class="col-lg-12">
											<div class="form-group mt-1">
												<input type="password" id="oldpwd" value="value" required="required"/>
												<label for="input" class="control-label">Old Password</label><i class="bar"></i>
												<span toggle="#oldpwd" class="font-color flaticon-eye-1 pass-link toggle-password font-weight-semibold"></span>
											</div>
										</div> 
										<div class="col-lg-12">
											<div class="form-group mt-0">
												<input type="password" id="newpwd" required="required"/>
												<label for="input" class="control-label" id="pass2">New Password</label><i class="bar"></i>
												<span toggle="#newpwd" class="font-color flaticon-eye-1 pass-link toggle-password font-weight-semibold"></span>
											</div>
										</div> 
										<div class="col-lg-12">
											<div class="form-group mt-0">
												<input type="password" id="renewpwd" required="required"/>
												<label for="input" class="control-label" id="pass3">Re - Type New Password</label><i class="bar"></i>
												<span toggle="#renewpwd" class="font-color flaticon-eye-1 pass-link toggle-password font-weight-semibold"></span>
											</div>
										</div>
										<div class="col-lg-12 text-center">
											<button type="button" class="btn btn-theme background-color shadow"><span>Save</span></button>
										</div>
									</div>
								</div>
							</form>
						</div>
					</div>
				</section>
			</main>
		</div>
	</div>