<section class="pb-2">
  <section class="custom-container pt-3">
    <div class="row">
      <div class="col-lg-6 col-md-12 col-sm-12 py-4">
        <img [src]="resetPwdPageImageSrc" class="img-fluid m-md-auto d-md-block" alt="image">
      </div>
      <div class="col-lg-6 text-center thank-you-container">
        <h1 class="thank-you-text font-color pb-4">Thank You!</h1>
        <p class="pb-4">Your password has been updated.</p>
        <div class="col-ld-12 pt-3 pb-4">
          <button type="button" (click)="this.changeView('public/login');"
            class="btn btn-theme background-color shadow w-30"><span>Sign In</span></button>
        </div>
      </div>
    </div>
  </section>
</section>