<div id="sidebar-wrapper" class="collapse navbar-collapse sidehide">
    <button class="navbar-toggler float-right asidebar sidehide" type="button" data-toggle="collapse" data-target="#sidebar-wrapper" aria-controls="sidebar-wrapper" aria-expanded="false" aria-label="Toggle navigation">
        <span class="flaticon-close"></span>
    </button>
    <!-- web sidebar -->
    <aside id="sidebar">
        <ul id="sidemenu" class="sidebar-nav sidehide text-center pt-2">
            <li class="border-bottom active">
                <a href="" [routerLink]="['/waitlist/dashboard']">
                    <div class="icon-border-right">
                        <div class="icon-circle">
                            <i class="flaticon-empire-state-building grey"></i>
                        </div>
                    </div>
                    <span class="font-12">Dashboard</span>
                </a>
            </li>
            <li class="border-bottom">
                <a href="" [routerLink]="['/waitlist/addguest']">
                    <div class="icon-border-right">
                        <div class="icon-circle">
                            <i class="flaticon-add-group grey"></i>
                        </div>
                    </div>
                    <span class="font-12">Add Guest</span>
                </a>
            </li>
            <li class="border-bottom">
                <a href="" [routerLink]="['/waitlist/history']">
                    <div class="icon-border-right">
                        <div class="icon-circle">
                            <i class="flaticon-counterclockwise grey"></i>
                        </div>
                    </div>
                    <span class="font-12">History</span>
                </a>
            </li>
            <li class="border-bottom">
                <a href="" [routerLink]="['/waitlist/settings']">
                    <div class="icon-border-right">
                        <div class="icon-circle">
                            <i class="flaticon-settings grey"></i>
                        </div>
                    </div>
                    <span class="font-12">Setting</span>
                </a>
            </li>
            <li class="border-bottom">
                <a href="" class="sidehide" data-toggle="modal" data-target="#resetModal">
                    <div class="icon-border-right">
                        <div class="icon-circle">
                            <i class="flaticon-refresh grey"></i>
                        </div>
                    </div>
                    <span class="font-12">Reset</span>
                </a>
            </li>
        </ul>
    </aside>
</div>

