

/**  Marketing Home Page  **/

/** ======================================================== **/


/* Preloader */
#preloader {
	position: fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	background-image:url(../../assets/img/preloaderbg.png); /* change if the mask should be a color other than white */
	z-index:999; /* makes sure it stays on top */    
    height: auto;
    float: left;
    left: 0px;
    width: 100%;    
    background-attachment: fixed;
    background-color: rgba(0, 0, 0, 0);
    background-size: cover;    
    background-repeat: no-repeat;
    
}

#status {
    width: 220px;
    height: 200px;
    position: absolute;
    left: 41%;
    top: 36%;
    background-image: url(../../assets/img/preloader.png);
    background-repeat: no-repeat;
    background-position: center;
    z-index: 999;
    display: block !important;
}


/* sticky navbar */
.nav-colored { background-color:#000; }
.nav-transparent { background-color:transparent;}
.nav-fix {width: 100%; position: fixed; z-index: 100; background: #111e47; -webkit-transition: all 0.5s ease 0s; -moz-transition: all 0.5s ease 0s;-o-transition: all 0.5s ease 0s; transition: all 0.5s ease 0s;}
.is-sticky .social-media li img { width: 20px;}
.is-sticky .logo img {  position: absolute;  top: -25px; width: 75%;}
.is-sticky .menu-wrap { margin-top: 3px;}
.is-sticky .head-contact { display: none;}

/* End sticky navbar */


/** Header Area **/

#mynav { background: #111e47; z-index: 10 !important; float: left; width: 100%;}

.header {position: relative;}
.comingsoon {background: #6ea1be;}
.comingsoon h4 {color:#FFF;font-size: 18px;}
/*.header-bg {
    background-image: url(../img/bg-home.png);
    padding: 0; margin: 0;background-color: rgba(0, 0, 0, 0);background-size: 100% 100%;background-position: 100% 100%;
    background-repeat: no-repeat;width: 100%;height: 100vh;
    }*/
.social-media {  margin: 0;  padding: 0;}
.social-media li {list-style: none;    display: inline-block;}



.head-contact { color: #FFF;  text-align: center;  font-family: 'GothamBold';  display: inline-block;  width: 100%;}
.head-contact ul {margin: 0px;padding: 0px;}
.head-contact ul li{list-style: none; display: inline-block;font-family: 'GothamBold'; width: 50%;float: left;}
.head-contact ul li p { font-size: 0.6em;margin: 0 0 4px 0;}
.head-contact ul li:last-child { border-left: 1px solid #FFF;}

#themenav .dropdown-menu li:hover .sub-menu { visibility: visible;}
#themenav .dropdown:hover .dropdown-menu { display: block;}
.navbar {min-height: auto; margin-bottom: 0px;border: none;}


.banner_fluid { padding-left:0;padding-right:0;    margin-bottom: -5px;}
.carousel-control {top: 40%;cursor: pointer; opacity: 0.9;}

/*slider stylesheer*/
.square-bullet .carousel-indicators  li{border-radius:0px;border: 1px solid #52565a;width: 15px;height: 15px; background-color:#fff;}
.square-bullet .carousel-indicators .active{background-color:#a51c25;}
.square-bullet .carousel-indicators{left: 19%;}
/*End slider stylesheer*/

/* Navigation */
/*#readynav { background: url(../img/menu.png) no-repeat;  background-position: center center; background-size: 100% 80%; border: none;}*/
.navbar-default {background-color: transparent;   border: none;}
#themenav.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
       color: #FFFFFF; border-bottom: 4px solid #a51c25;   border-radius: 0;}

#themenav .navbar-nav>li>a:hover{ border-bottom: 4px solid #a51c25;   background: transparent;}

#themenav.navbar-default .navbar-collapse, .navbar-default .navbar-form {  border:none;   padding: 0;}
#themenav.navbar-default .navbar-nav>li>a { color: #ececec;  text-transform: uppercase;}
.menu-right h4 { padding: 10px 5px; margin: 5px 0 0 0; border-radius: 5px; color: #ececec; font-size: 1.2em;}

#themenav .navbar-nav>li>a { padding: 10px 25px; margin: 5px 0 0 20px; border-radius: 0px;background: transparent; font-size: 1.1em;}

#themenav .navbar-nav>li {margin-left: 8px;}
#themenav .navbar-nav>li:first-child{margin-left: 0px; }

#themenav .navbar-collapse.in { overflow-y: visible;}

/* responsive navigation */
/*#themenav .navbar-toggle{background: #111e47;}*/
#themenav.navbar-default .navbar-toggle .icon-bar { background-color: #fff;}
#themenav .navbar-nav { margin: 0;}

#themenav .navbar-toggle { float: none;}
#themenav .navbar-header { text-align: center;}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {background-color: transparent;}

/* menu */

#themenav .navbar-toggle .icon-bar {height: 3px;margin-left: 7px;}



/* end navigation */



.slide-content {position: relative; display: inline-block;  width: 52%;    top: 30vh;}
.slide-text h3 {font-size: 30px; position: relative; }


/** End Header Area **/


/*Tab on map*/
#map-nav { position: absolute;}
#map-nav .nav-tabs{border: none;}
#map-nav .nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {border: none;}
#map-nav .nav>li>a:hover, .nav>li>a:focus { background-color: #FFF; color: #3e4144;}
#map-nav .nav-tabs>li>a {background-color: #111e47; color: #FFF;    border-radius: 0;margin-right: 0;}
#map-nav li.active a { background: #FFF !important;  color: #3e4144 !important;font-family: 'gotham-book';}
#map-nav .nav-tabs>li {margin-right: 3px;}
.mapline0 { border-bottom: 4px solid #a51c25;}
.mapline1 { border-bottom: 4px solid #00afe9;}
.mapline2 { border-bottom: 4px solid #008700;}
.mapline3 { border-bottom: 4px solid #876900;}




/*Tab on map*/


#footer-subscribe input[type="text"],
#breaking-subscribe input[type="text"] {
    max-width: 75%; border-radius: 5px; background-color: #eee; background-clip: padding-box; box-shadow: none;
    color: #777; border: none; font-size: 16px; margin: 5px 0; height: auto;
   }


#footer-subscribe .btn-subscribe,
#breaking-subscribe .btn-subscribe { position: relative; overflow: hidden; margin-left: 0; border-radius: 5px; background-color: #e0e0e0;
    color: #7d7c7c;  font-size: 16px;  -webkit-transition: all 0.2s; transition: all 0.2s; padding: 10px 28px; margin: 0;}

#footer-subscribe .btn-subscribe:hover,
#footer-subscribe .btn-subscribe:focus,
#footer-subscribe .btn-subscribe:active,
#breaking-subscribe .btn-subscribe:hover,
#breaking-subscribe .btn-subscribe:focus,
#breaking-subscribe .btn-subscribe:active {
    outline: none; background-color: #999696; box-shadow: none;  color: #FFF;
}

#footer-subscribe .btn-subscribe:before,
#breaking-subscribe .btn-subscribe:before {  position: absolute; top: 0%; left: 130%;  height: 100%; color: #FFF; font-family: FontAwesome;
    content: "\f105";  font-size: 23px; line-height: 1.9; -webkit-transition: all 0.3s; transition: all 0.3s;
    }

#footer-subscribe .btn-subscribe:hover:before,
#breaking-subscribe .btn-subscribe:hover:before {  left: 81%; }
#footer-subscribe {  width: 80%;  margin: 0 auto;}

/*******************************

* ACCORDION WITH TOGGLE ICONS

*******************************/

.homeaccordian { border: 1px solid #999999; }
.homeaccordian.panel-group .panel { margin-bottom: 0; border-radius: 0; border-bottom: 1px solid #999999;}
.homeaccordian.panel-group .panel-heading + .panel-collapse > .panel-body, .panel-group .panel-heading + .panel-collapse > .list-group {
    border-top: none; }
.homeaccordian.panel-group .panel + .panel { margin-top:0px;}

.panel-group .panel .panel-title > a > .fa-minus { background: #93830a;font-size: 18px;width: 30px; height: 30px; color: #FFF;text-align: center;
    line-height: 30px; margin-right: 15px;
    }

.panel-group .panel .panel-title > a > .fa-plus {    
    font-size: 18px;  width: 30px; height: 30px; color: #FFF; text-align: center; line-height: 30px; margin-right: 15px; background: #999999;
}

.homeaccordian .panel-body{
    padding: 0 0 15px 6%;  color: #999999;  line-height: 24px; font-size: 16px; font-family: 'myriadpro';
}

.homeaccordian .panel-title{
    margin-top: 0;  margin-bottom: 0;  font-size: 1.4em; color: inherit;  font-family: 'MyriadProSemibold';
    }
.homeaccordian .panel-group {  transition: all 400ms;}
.homeaccordian .panel-heading { padding: 15px 15px;}

.panel-group .panel .panel-title > a i {  font-size: 18px;}
.panel-group .panel .panel-title > a:hover {color: #93830a; transition: all 0.3s ease-in-out;}
.homeaccordian.panel-group .panel:last-child { border-bottom: none;}
.panel-group .panel .panel-title > a i.icon-collapsed { display: none;}
.panel-group .panel .panel-title > a.collapsed .icon-expanded { display: none;}
.panel-group .panel .panel-title > a.collapsed .icon-collapsed { display: inline-block;
  vertical-align: middle; *vertical-align: auto; *zoom: 1; *display: inline; vertical-align: baseline;
}

/* End accordian menu */


/*==================Login Page=====================*/

.logo-wrap-change {
    margin: 15% auto 0 auto;
    position: relative;
    text-align: center;
}
.login-wrap {
    width: 50vh;
    margin: 0 auto 0 auto;
    position: relative;
}
.centered {
  position: fixed; /* or absolute */
  top: 50%;
  left: 50%;
}

.copyright {
    color: #ffffff;
    position: absolute;
    bottom: 25px;
    width: 100%;
    text-align: center;
}

.transparent-header-on-login {z-index: 22;width: 100%; left: 0; background-color: rgba(255,255,255,.92);
                              border: none;opacity: 0.9; top: 0; margin: 0;}

.login-outer {    
    height: 100%;
    width: 100%;
    background-attachment: fixed;    
    background-size: 100% 100%;
    background-repeat: no-repeat;
    bottom: 0;
    position: absolute;
    top: 0;
    float: left;
    display: inline-table;
    
}  


/*added css styel by specal dashboard page*/
.checkbox {padding-left: 20px;}
.checkbox label {
    display: inline-block;
    position: relative;
    padding-left: 10px;
    width: 100%;
    color: #bbbbbb;
    font-size: 18px;
    line-height: 20px;
}
.checkbox label::before {
      content: "";
      display: inline-block;
      background: #fff;
      position: absolute;
      width: 20px;
      height: 20px;
      left: 0;
      margin-left: -20px;
      border: 1px solid #cccccc;
      border-radius: 3px;      
      -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
      -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
      transition: border 0.15s ease-in-out, color 0.15s ease-in-out; }
.checkbox label::after {
      display: inline-block;
      position: absolute;
      width: 18px;
      height: 18px;
      left: 0;
      top: 0;
      margin-left: -20px;      
      padding-left: 3px;      
      font-size: 14px;
      color: #555555; }
.checkbox input[type="checkbox"] {
    opacity: 0; }
.checkbox input[type="checkbox"]:focus + label::before {
      outline: thin dotted;
      outline: 5px auto -webkit-focus-ring-color;
      outline-offset: -2px; }
.checkbox input[type="checkbox"]:checked + label::after {
      font-family: 'FontAwesome';
      content: "\f00c"; }
.checkbox input[type="checkbox"]:disabled + label {
      opacity: 0.65; }
.checkbox input[type="checkbox"]:disabled + label::before {
        background-color: #eeeeee;
        cursor: not-allowed; }
.checkbox.checkbox-circle label::before {
    border-radius: 50%; }
.checkbox.checkbox-inline {
        margin: 10px 0 10px 0;}



.checkbox-success input[type="checkbox"]:checked + label::before {background-color: #fff;    border-color: #cccccc;}
.checkbox-success input[type="checkbox"]:checked + label::after {color: #de4325;}

label.chexclr {color: #333 !Important;}

#emailhide{ display:none;}

/*.form-signin .form-control::-webkit-input-placeholder{color: #de4325;}
.form-signin .form-control::-moz-input-placeholder{color: #de4325;}*/

.login-center{margin: 0 auto;width: 100%;   padding: 40px 0px 20px 0px;}
.form-signin{ /*   max-width: 408px;*/ margin: 0 auto;}
.form-signin .form-signin-heading, .form-signin .checkbox{margin-bottom: 10px;}
.form-signin .checkbox{font-weight: normal;}
.form-signin .form-control{font-size: 16px;height: auto;margin: 10px 0 25px 0;
    padding: 10px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;box-sizing: border-box;}
.form-signin .form-control:focus{z-index: 2; /*border-color: #dc3126;outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 0px #dc3126;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 0px #dc3126;*/}

.bg-withe {  width: 100%;background-color: #FFF;margin: 50px 0;padding: 10px 0px 50px 0px;border: 1px solid #7d7c7c;   float: left;}

.form-signin input[type="text"]{ border-radius: 4px;}
.form-signin input[type="password"]{ /*margin-bottom: 10px;*/ border-radius: 4px;}


.login-center-1 {margin: 0 auto;}
.login-title{color: #FFF;font-size: 30px;font-weight: 400;display: inline-block;margin: 30px 0;padding: 0;}
.login-title h2 {  
    margin-left: 20px;
    font-size: 1.9em;
    font-weight: 500;
    display: inline-block;
    margin-right: 10px;
    line-height: 40px;
    float: left;
}

.login-title img {
    display: inline-block;
    float: left;
}

.btn-sign-in {display: inline-block; margin: 20px 0px;text-transform: capitalize;border-radius: 5px;background-color: transparent;color: white;
    border: 1px solid #FFF;}
.btn-sign-in:hover {    background-color: #eeeeee;color: black; border: 1px solid #FFF;}
.sign-up p {color: #c9ced1;font-size: 17px;}
.sign-up a {color: #FFF; font-size: 13px; text-decoration: none;margin: 5px 0;display: inline-block;text-transform: uppercase;}


.sign-up1 {background: #111; opacity: 0.7;}
.sign-up1 p {color: #FFF;font-size: 17px;    padding: 15px;}
.sign-up1 a { color: #FFF; margin: 5px 0;  display: inline-block;text-decoration: underline; padding-bottom: 0;}

=================Forgot Page=====================*/



.account-reset.text-center {margin: 12% 0; padding: 40px 0px 20px 0px; background-color: #FFF;
    border: 1px solid #7d7c7c; display: flex;}
.forgot-para { color: #c9ced1; font-size: 17px;}

.form-reset .form-control{position: relative;font-size: 16px;height: auto;margin: 25px 0;
    padding: 10px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;box-sizing: border-box;}
.form-reset .form-control:focus{z-index: 2; border-color: #dc3126;outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgb(255, 85, 25);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgb(241, 92, 40);}
.help-block.text-right.forgot-link p {text-decoration: none;    color: #9C9999;top: 20px;position: absolute;
    right: 15px;}
p.text-msg-pswd { color: #c9ced1; font-size: 16px;  text-align: left;    display: inline-block;}

.header-waitlist { }
.kw-dav-1 h1 {
    color: #FFF;
    margin: 10px 0 20px 0;
    display: inline-block;
    line-height: 20px;
    font-size: 3.9em;
        margin-left: 16px;
}
.kw-dav-1 img {
    display: inline-block;
    float: left;
}

.kw-dav-1 ul {    margin: 10px 0 0 0; padding: 0px;text-align: center;}
.kw-dav-1 ul li a {color: #FFF;font-size: 18px;}
.kw-dav-1 ul li a:hover {color: #93a9d1;}

.kw-dav-1 ul li {list-style: none;display: inline-block; margin: 0 50px 0 0;}
.kw-dav-1 {
    display: inline-block;    
    text-align: center;
    margin-left: 40%;
    margin-top: 10px;
}

.kw-dav-2 { float: right;width: auto;}
.kw-dav-2 span p {display: inline-block;color: #FFF;    margin-left: 20px;}
.kw-dav-2 span a {color: #FFF;}
.kw-dav-2 ul {
    margin: 15px 0 0 0;
    padding: 0px;
}
.kw-dav-2 ul li {list-style: none;display: inline-block; margin: 0 35px 0 0;}
.kw-dav-2 ul li a {color: #FFF; font-size: 22px;}

.kw-dav-2 span {
    font-size: 15px;
    margin: 20px 0 0 0;
    display: inline-block;
}
.btn-number {
    /*background: #dd4124;*/
    color: #FFF;
    border-radius: 3px;
    padding: 15px;
    font-size: 16px;
}
.time-x input {
    text-align: center;
    font-size: 24px;
    font-weight: 600; 
    padding: 26px 0;
        
}

.time-x input:focus{
    color: #dd4124 !im;
}
.time-x {
    width:70%;
    margin: 0 auto;
}
.form-control:focus {
    /*border-color: #dd4124;*/
    outline: 0;
}
.time-x h2 {
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    padding: 13px 0;    
    border-radius: 3px;
}

/***** Table  *****/
.table-wrap {
    width: 100%;
}
#waitlisttable thead {
    background: #9e978e;
    color: #FFF;
}
.name-active {
    display: inline-block;
    background: #f2f0a1;
    padding: 5px;
    margin-right: 5px;
}
#waitlisttable, .table-bordered>thead>tr>th, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>tbody>tr>td, .table-bordered>tfoot>tr>td {    
    border: none;
    text-align: center;
    border-bottom: 1px solid #bfb9b9;
}


.paginations {
    position: relative;
    right: 25px;
    margin: 0;
    float: right;
}

.pagination-inner {
    color: #9e978e;
    font-size: 16px;
    font-weight: 600;
    margin: 15px auto;   
}
.pagination-inner span {
    padding: 4px 17px;
    border: 1px solid #9e978e;
    margin: 0 5px;
    border-radius: 3px;
}
.sm-txt {
    color: #9e978e;
    font-size: 13px;
}

.priv {
    
    position: relative;   
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #ffffff;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
    background: #9e978e;
    border-radius: 4px 0 0 4px;
    /*padding: 15px 20px;
    display: inline-block;
    border-radius: 4px 0px 0px 4px;
    margin: -8px 5px;*/

}
.next {
    
    position: relative;
    padding: 5px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #ffffff;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
    background: #9e978e;
    border-radius: 0px 4px 4px 0px;
    display: inline-block;
       /* padding: 15px 20px;
    display: inline-block;
    border-radius: 0px 4px 4px 0px;    
    margin: -8px 5px;*/

}
.pagination-inner img {
    height: 30px;
}




.dropbtn {
    color: white;        
    cursor: pointer;  
    font-size: 17px;
}

.dropdown {
    position: absolute;
    right: 20px;
    margin-top: 2px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    right: -1px;
    top: 33px;
    padding: 10px;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: #dd4124;
    padding: 10px 0 0 0px;
    text-decoration: none;
    display: block;
    font-size: 14px;
}
/* Change color of dropdown links on hover */
.dropdown-content a:hover {}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

.default-1 {
    text-align: center;
    border-top: 1px solid #9e978e;
}


.hideheader{display: none;}
a.headersh {display: none;}


/* ===================================== */



/************* Guest popup ***************/

.confirm-table-wrap h2 {    
    font-weight: 600;
    margin-top: 10px;
}
.guest-name {
    display: inline-block;
}
.btn-orange {    
    color: #FFF;
    width: 25%;
    font-size: 20px;
    margin: 0 3%;
}
.btn-guest {
    
    padding: 25px 0;
}
.guest-name {
    margin: 5% 0;
}
.guest-name h1 {
    font-size: 3em;
}


/*Pop Up CSS*/

.simplePopup {
    display: none;
    position: fixed !important;    
    background: #fff;
    z-index: 999;    
    width: 45%;
    border-radius: 10px;
    top: 30% !important;
    left: 28% !important;
    
}

.simplePopupClose {
    float: right;
    cursor: pointer;
    padding: 10px;
}

.simplePopupBackground {
display:none;
background:#000;
position:fixed;
height:100%;
width:100%;
top:0;
left:0;
z-index: 3;
}


/*** Radio button section ****/
.radio {
  padding-left: 20px; }
  .radio label {
    display: inline-block;
    position: relative;
    padding-left: 5px;
      font-size: 15px;}
    .radio label::before {
      content: "";
      display: inline-block;
      position: absolute;
      width: 20px;
      height: 20px;
      left: 0;
     border-radius: 2px;
      margin-left: -20px;
      border: 1px solid #cdcdcd;      
      background-color: #fff;
      -webkit-transition: border 0.15s ease-in-out;
      -o-transition: border 0.15s ease-in-out;
      transition: border 0.15s ease-in-out; }
    .radio label::after {
        display: inline-block;
        position: absolute;
        content: " ";
        width: 8px;
        height: 8px;
        left: 5px;
        top: 6px;
        margin-left: -19px;
        border-radius: 50%;
        background-color: #dd4124;
        -webkit-transform: scale(0, 0);
        -ms-transform: scale(0, 0);
        -o-transform: scale(0, 0);
        transform: scale(0, 0);
        -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
        -moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
        -o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
        transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    }
  .radio input[type="radio"] {
    opacity: 0; }
    .radio input[type="radio"]:focus + label::before {
      outline: thin dotted;
      outline: 5px auto -webkit-focus-ring-color;
      outline-offset: -2px; }
    .radio input[type="radio"]:checked + label::after {
      -webkit-transform: scale(1, 1);
      -ms-transform: scale(1, 1);
      -o-transform: scale(1, 1);
      transform: scale(1, 1); }
    .radio input[type="radio"]:disabled + label {
      opacity: 0.65; }
      .radio input[type="radio"]:disabled + label::before {
        cursor: not-allowed; }
  .radio.radio-inline {
    margin-top: 0; }
.radio-primary input[type="radio"] + label::after {
  background-color: #428bca; }
.radio-primary input[type="radio"]:checked + label::before {
  border-color: #428bca; }
.radio-primary input[type="radio"]:checked + label::after {
  background-color: #428bca; }


/**** Form add new guest *****/

.new_guest_wrap {
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inse;
    padding: 0 10px;
}
.well-guest .form-group {
    margin-bottom: 25px;
}
.addnew-color {
    padding: 10px 0;
    color: #FFF;
    margin-top: 30px;
}
.addnew-color a img {
    padding-left: 5px;
}
.btn-add {
    color: #fff;
}
.btn-add {
    color: #fff;
    width: 120px;
    font-size: 22px;
    margin-bottom: 15px;
}
.form-control {
    color: #bbbbbb;
}
.panel-form {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 6px 12px;
}
.panel-form .radio label {
    color: #bbbbbb;
    font-size: 18px;
    line-height: 20px;
}

.addf1 label {
    color: #bbbbbb;
    font-size: 18px;
    font-weight: normal;
}
.addf1 {
    display: inline-block;
}
.addf2 {
    display: inline-block;
        padding-left: 25px;
}
.addf2 .checkbox {
    margin: 0 25px 0 0;
}
.addf3 .radio {
    margin: 10px 20px 10px 0;    
    display: inline-block;
}
.addf3input input {
    display: inline-block;
    margin: 0 0 10px 0;
}
.addf4 a {
    color: #93a9d1;
    font-size: 18px;
    margin-right: 15px;
}
.addf4 label {
    color: #bbbbbb;
}

.well-guest input, select {
    font-size: 18px !important;
    height: 45px !important;
}

.well-guest textarea{
    font-size: 18px !important;    
}

#notehide{display: none;}
#smshide{display: none;}
#emailhide{display: none;}











/************** Help ******************/




#help-wrap h1 {
    color: #333333;
    font-weight: 600;
    font-size: 2.5em;
}
#help-wrap p {
    color: #333333;
    font-size: 14px;
}
#help-wrap-2 a {font-size: 17px; color: #0074fc;}

#help-wrap-2 p{ font-size: 17px;}

#help-wrap-3 a {
    color: #0074fb;
    font-size: 17px;
    font-weight: 500;
    margin-bottom: 10px;
    display: inline-block;
}

#help-wrap-3 p {
    font-size: 1.1em;
    text-align: justify;
}
.commq h3 {
    margin-bottom: 15px;
}
.commq p {
    text-align: justify;
    font-size: 15px;
}
.commq span {
    color: #0074fc;
}
.btn-waitlist {
    color: #FFF;
    width: 30%;
    font-size: 25px;
}
#help-wrap-5 a {
    font-size: 20px;
    color: #0074fc;
}
#help-wrap-5 img {
    margin-right: 10px;
}

