<main id="page-content-wrapper" role="main">
    <section class="container  pt-lg-2 pt-md-2 pt-sm-3 pt-3 fade-in" id="addUserPage">
        <div class="row first-lang">
            <div class="col-lg-9">
                <form>
                    <div class="col-lg-10">
                        <div class="form-group mb-3">
                            <input type="text" id="phone" required="required"/>
                            <label for="input" class="control-label">Mobile Number</label><i class="bar"></i>
                        </div>
                        <div class="row">
                            <div class="form-group mb-0 col-lg-6">
                                <select>
                                    <option>0</option>
                                    <option>1</option>
                                </select>
                                <label for="select" class="control-label padding-left-18">Adults</label><i class="bar"></i>
                            </div>
                            <div class="form-group mb-0 col-lg-6">
                                <select>
                                    <option>0</option>
                                    <option>1</option>
                                </select>
                                <label for="select" class="control-label padding-left-18">Children</label><i class="bar"></i>
                            </div>
                        </div>
                        <div class="form-group mb-3">	
                            <input type="text" value="ABC" required="required"/>
                            <label for="input" class="control-label">Name</label><i class="bar"></i>
                            <span class="error">error</span>
                        </div>
                        <div class="mt-0 mb-4">
                            <input class="styled-checkbox" id="promotion" type="checkbox">
                            <label for="promotion">Opt-in for special Promotions and loyalty program.</label>
                        </div>
                        <div class="row">
                            <div class="col-lg-3 my-1">
                                <span class="font-weight-semibold">Seating Preference</span>
                            </div>
                            <div class="col-lg-9 my-1">
                                <input class="styled-checkbox" id="firstAvailable" type="checkbox">
                                <label for="firstAvailable" class="mr-2">First Available</label>

                                <input class="styled-checkbox" id="pation" type="checkbox">
                                <label for="pation" class="mr-2">Patio</label>

                                <input class="styled-checkbox" id="bar" type="checkbox">
                                <label for="bar" class="mr-2">Bar</label>

                                <input class="styled-checkbox" id="booth" type="checkbox">
                                <label for="booth" class="mr-2">Booth</label>
                                
                                <input class="styled-checkbox" id="table" type="checkbox">
                                <label for="table" class="mr-2">Table</label>
                            </div>
                        </div>
                        <div class="row pt-3">
                            <div class="col-lg-3 my-1">
                                <span class="font-weight-semibold">How did you hear about us</span>
                            </div>
                            <div class="col-lg-9 my-1">
                                <input class="styled-checkbox" id="facebook" type="checkbox">
                                <label for="facebook" class="mr-2">Facebook</label>

                                <input class="styled-checkbox" id="instagram" type="checkbox">
                                <label for="instagram" class="mr-2">Instagram</label>
                                
                                <input class="styled-checkbox" id="google+" type="checkbox">
                                <label for="google+" class="mr-2">Google+</label>

                                <input class="styled-checkbox" id="twitter" type="checkbox">
                                <label for="twitter" class="mr-2">Twitter</label>

                                <input class="styled-checkbox" id="word" type="checkbox">
                                <label for="word" class="mr-2">Word of Mouth</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <textarea required="required">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</textarea>
                            <label for="textarea" class="control-label">Note</label><i class="bar"></i>
                        </div>
                        <div class="col-ld-12 text-center pb-3">
                            <button type="button" class="btn btn-theme background-color shadow"><span>Add Guest</span></button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-lg-3 col-md-12 col-sm-12 col-12 mt-4">
                <form class="col-lg-12 col-md-6 col-sm-6 col-8 float-right">
                    <select class="form-control">
                        <option>English</option>
                    </select>
                </form>
            </div>
        </div>
        <!-- reset popup -->
        <div class="modal fade" id="resetModal">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content border-radius border-0">
                    <div class="custom-modal-header background-color">
                        <span class="modal-title text-white">Confirm Reset Organization</span>
                        <button type="button" class="close text-white" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body text-center">
                        <h3 class="big-font"><i class="flaticon-refresh font-color"></i></h3>
                        <h4 class="pt-3 pb-3">If you want to remove all your guest information, you can reset.</h4>
                        <div class="pt-3 pb-4">
                            <button type="button" class="btn btn-theme background-color shadow">Reset</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
