<main id="page-content-wrapper" role="main">
  <section class="container  pt-lg-2 pt-md-2 pt-sm-3 pt-3 fade-in" id="addUserPage">
    <div class="row first-lang">
      <div class="col-lg-9">
        <form #f="ngForm" novalidate>
          <div class="col-lg-10">
            <div class="alert mt-3 mb-0" [ngClass]="'alert-' + alertError.type" *ngIf="alertError.display != false">
              <button type="button" class="close" data-dismiss="alert" (click)="alertError.display = false">&times;</button>
              <p>{{ alertError.msg }}</p>
            </div>
            <div class="form-group mb-3">
              <input
                type="text"
                id="gname"
                class="form-control"
                pattern ="[a-zA-Z0-9 ]*"
                #gname="ngModel"
                [ngClass]="{ 'is-invalid': f.submitted && gname.invalid }"
                maxlength="50"
                [(ngModel)]="guest.name"
                name="gname"
                required="required"
                appInputRestriction
              />
              <label for="input" class="control-label">{{ languageKeyMap['name'] }}</label
              ><i class="bar"></i>
              <div *ngIf="f.submitted && gname.invalid" class="invalid-feedback">
                <div class="text-danger" *ngIf="gname.errors?.required">{{ languageKeyMap['name_can_not_be_blank'] }}</div>
                <div class="text-danger" *ngIf="gname.errors?.maxlength">{{ languageKeyMap['maximum_characters_limit_reached'] }}</div>
                <div class="text-danger" *ngIf="gname.errors?.pattern">{{ languageKeyMap['enter_name_error'] }}</div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-3" *ngIf="user.pplBifurcation === 'Y'">
                <div class="form-group mt-2 mb-3">
                  <input
                    type="number"
                    name="adult"
                    min="1"
                    max="99"
                    appCustomMax="100"
                    appCustomMin="1"
                    pattern="[0-9]*"
                    class="form-control"
                    #adult="ngModel"
                    id="adult"
                    [(ngModel)]="guest.noOfAdults"
                    [ngClass]="{ 'is-invalid': f.submitted && adult.invalid }"
                    required="required"
                  />
                  <label for="adult" class="control-label">{{ languageKeyMap['adults'] }}</label>
                  <i class="bar"></i>
                  <div *ngIf="f.submitted && adult.invalid" class="invalid-feedback">
                    <div class="text-danger" *ngIf="adult.errors?.pattern">{{ languageKeyMap['valid_num_error'] }}</div>
                    <div class="text-danger" *ngIf="adult.errors?.number">{{ languageKeyMap['valid_num_error'] }}</div>
                    <div class="text-danger" *ngIf="adult.errors?.required">{{ languageKeyMap['please_enter_values_for_adults'] }}</div>
                    <div class="text-danger" *ngIf="adult.errors?.appCustomMin">{{ languageKeyMap['valid_num_error'] }}</div>
                    <div class="text-danger" *ngIf="adult.errors?.appCustomMax">{{ languageKeyMap['maximum_limit_reached'] }}</div>
                  </div>
                </div>
              </div>
              <div class="col-lg-3" *ngIf="user.pplBifurcation === 'Y'">
                <div class="form-group mt-2 mb-3">
                  <input
                    type="number"
                    name="children"
                    min="0"
                    max="99"
                    appCustomMax="99"
                    appCustomMin="0"
                    class="form-control"
                    id="children"
                    #children="ngModel"
                    [(ngModel)]="guest.noOfChildren"
                    pattern="[0-9]*"
                    [ngClass]="{ 'is-invalid': f.submitted && children.invalid, 'no-value': children.value == null }"
                  />
                  <label for="children" class="control-label">{{ languageKeyMap['children'] }}</label> <i class="bar"></i>
                  <div *ngIf="f.submitted && children.invalid" class="invalid-feedback">
                    <div class="text-danger" *ngIf="children.errors?.pattern">{{ languageKeyMap['valid_num_error'] }}</div>
                    <div class="text-danger" *ngIf="children.errors?.number">{{ languageKeyMap['valid_num_error'] }}</div>
                    <div class="text-danger" *ngIf="children.errors?.required">{{ languageKeyMap['please_enter_values_for_adults'] }}</div>
                    <div class="text-danger" *ngIf="children.errors?.appCustomMin">{{ languageKeyMap['valid_num_error'] }}</div>
                    <div class="text-danger" *ngIf="children.errors?.appCustomMax">{{ languageKeyMap['maximum_limit_reached'] }}</div>
                  </div>
                </div>
              </div>
              <div class="col-lg-6" *ngIf="user.pplBifurcation === 'N'">
                <div class="form-group mt-2 mb-3">
                  <input
                    type="number"
                    name="people"
                    min="1"
                    [max]="user.maxParty"
                    appCustomMax="user.maxParty"
                    appCustomMin="1"
                    pattern="[0-9]*"
                    class="form-control"
                    #people="ngModel"
                    id="people"
                    [(ngModel)]="guest.noOfPeople"
                    [ngClass]="{ 'is-invalid': f.submitted && people.invalid }"
                    required="required"
                  />
                  <label for="people" class="control-label">{{ languageKeyMap['people'] }}</label>
                  <i class="bar"></i>
                  <div *ngIf="f.submitted && people.invalid" class="invalid-feedback">
                    <div class="text-danger" *ngIf="people.errors?.pattern">{{ languageKeyMap['valid_num_error'] }}</div>
                    <div class="text-danger" *ngIf="people.errors?.number">{{ languageKeyMap['valid_num_error'] }}</div>
                    <div class="text-danger" *ngIf="people.errors?.required">{{ languageKeyMap['no_of_people_cannot_be_blank'] }}</div>
                    <div class="text-danger" *ngIf="people.errors?.appCustomMin">{{ languageKeyMap['valid_num_error'] }}</div>
                    <div class="text-danger" *ngIf="people.errors?.appCustomMax">{{ languageKeyMap['maximum_limit_reached'] }}</div>
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-group mt-2 mb-3">
                  <!-- <input type="text" id="phone" name="phone" class="form-control" #phone="ngModel" maxlength="10" pattern="^(\+\d{2,4})?\s?(\d{10})$" [ngClass]="{ 'is-invalid': f.submitted && phone.invalid }" [(ngModel)]="guest.contactNo" required="required" /> -->
                  <input
                    type="text"
                    id="phone"
                    name="phone"
                    class="form-control"
                    #phone="ngModel"
                    [specialCharacters]="[' ', '-', '(', ')']"
                    mask="(000)-000-0000"
                    [ngClass]="{ 'is-invalid': f.submitted && phone.invalid }"
                    [(ngModel)]="guest.contactNo"
                    required="required"
                  />
                  <label for="input" class="control-label">{{ languageKeyMap['mobile_number'] }}</label
                  ><i class="bar"></i>
                  <div *ngIf="f.submitted && phone.invalid" class="invalid-feedback">
                    <div class="text-danger" *ngIf="phone.errors?.required">{{ languageKeyMap['enter_your_phone_number'] }}</div>
                    <div class="text-danger" *ngIf="phone.errors?.pattern">{{ languageKeyMap['the_phone_number_that_you_typed_is_invalid_please_correct_your_phone_number_and_try_again'] }}</div>
                  </div>
                </div>
              </div>
            </div>

            <div class="my-1">
              <input class="styled-checkbox" id="promotion" type="checkbox" [checked]="guest.optin == 1" (click)="onOptinChange()" />
              <label for="promotion">{{ languageKeyMap['opt_in_for_special_promotions_and_ads'] }}</label>
            </div>
            <div class="my-1">
              {{ languageKeyMap['standard_text_message_charges_may_apply'] }}
            </div>
            <div class="row pt-2">
              <div *ngIf="user.seatingpref != undefined" class="col-lg-3 my-1">
                <span *ngIf="user.seatingpref.length != 0" class="font-weight-semibold">{{ languageKeyMap['seating_preference'] }}</span>
              </div>
              <div class="col-lg-9 my-1">
                <div *ngFor="let seating of user.seatingpref; index as i" class="d-inline-block">
                  <input class="styled-checkbox" id="firstAvailable{{ i }}" type="checkbox" [(ngModel)]="seating.selected" [ngModelOptions]="{ standalone: true }" />
                  <label for="firstAvailable{{ i }}" class="mr-2">{{ languageKeyMap[seating.prefKey != null ? seating.prefKey : 0] }}</label>
                </div>
              </div>
            </div>
            <div class="row pt-2">
              <div *ngIf="user.marketingPref != undefined" class="col-lg-3 my-1">
                <span *ngIf="user.marketingPref.length != 0" class="font-weight-semibold">{{ languageKeyMap['how_did_you_here_about_us'] }}</span>
              </div>
              <div class="col-lg-9 my-1">
                <div *ngFor="let marketing of user.marketingPref; index as i" class="d-inline-block">
                  <input class="styled-checkbox" id="lablekey{{ i }}" type="checkbox" [(ngModel)]="marketing.selected" [ngModelOptions]="{ standalone: true }" />
                  <label for="lablekey{{ i }}" class="mr-2">{{ languageKeyMap[marketing.prefKey != null ? marketing.prefKey : 0] }}</label>
                </div>
              </div>
            </div>
            <div class="form-group mt-2">
              <textarea
                appAutosize
                [minRows]="1"
                [maxRows]="10"
                id="text"
                name="text"
                maxlength="150"
                class="form-control"
                #text="ngModel"
                pattern="[A-z\d_@.#$=!%^)(\]:\*;\?\/\,}{'\|<>\[&\+-]*"
                [ngClass]="{ 'is-invalid': f.submitted && text.invalid, 'no-value': text.value == '' || text.value == null }"
                [(ngModel)]="guest.note" appInputRestriction
              >
              </textarea>

              <label for="textarea" class="control-label">{{ languageKeyMap['note'] }}</label
              ><i class="bar"></i>
              <div *ngIf="f.submitted && text.invalid" class="invalid-feedback">
                <!--  <div class="text-danger" *ngIf="text.errors?.required">Note is required</div> -->
                <div class="text-danger" *ngIf="text.errors?.maxlength">{{ languageKeyMap['maximum_characters_limit_reached'] }}</div>
                <div class="text-danger" *ngIf="text.errors?.pattern">{{ languageKeyMap['note_error'] }}</div>
              </div>
            </div>
            <div class="col-ld-12 text-center pb-3">
              <button type="submit" id="btnSubmit" class="btn btn-theme background-color shadow" (click)="validate(f.form.invalid)">
                <span *ngIf="id == null">{{ languageKeyMap['add_guest'] }}</span
                ><span *ngIf="id != null">{{ languageKeyMap['update_guest'] }}</span>
              </button>
            </div>
          </div>
        </form>
      </div>
      <div class="col-lg-3 col-md-12 col-sm-12 col-12 mt-4">
        <form class="col-lg-12 col-md-6 col-sm-6 col-8 float-right">
          <select class="form-control" [(ngModel)]="selectedItem" (change)="selectedLanguage()" name="language">
            <option *ngFor="let lang of user.languagePref" [ngValue]="lang">
              {{ lang.langName }}
            </option>
          </select>
        </form>
      </div>
    </div>
  </section>
</main>
