.pointer {
  cursor: pointer;
}
.table th,
.table td {
  vertical-align: middle !important;
}
th {
  text-align: left !important;
  padding-left: 30px;
}

td {
  text-align: left !important;
  padding-left: 30px;
}
.active {
  color: #06af00;
  background-color: #a8f0a6;
  text-align: center !important;
}
.inactive {
  color: #ff2626;
  background-color: #ffe0e0;
  text-align: center !important;
}
.text {
  top: 200px;
  left: 1000px;
  width: 466px;
  height: 65px;
  text-align: left;
  font: normal normal 600 35px/56px Source Sans Pro;
  letter-spacing: 0.23px;
  color: #e14b28;
  opacity: 1;
}
