<html>
<body>
<p>Hi $name, </p>
<p>We received a request to reset your password for your Kyobee account: $email . We are here to help!</p>
<p>Use the link below to set up a new password for your account.</p>
<p><a href=$link>Click here</a></p>
<p>If you did not request to reset your password, then simply ignore this mail.</p>
<p>We love hearing from you.</p>
<p>Email us at $kyobeeEmail if you have any other questions! </p>
<p>Best,<br/>Kyobee</p>
</body>
</html>


    