<html>
<body>
<p>Hi $name,</p>
<p>Welcome to Kyobee Waitlist.</p>
<p>With Kyobee Waitlist at your business, you will have a self check-in hostess this is easy for your customers to sign-in with. It's your smart helper !</p>
<p>Thank You,</p>
<p>Kyobee Team.</p>
</body>
</html>